<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="./style.css" />
  <link rel="stylesheet" href="responsive.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Istok Web:wght@400&display=swap" />
</head>

<body>
  <div class="about-us57">
    <section class="hero12">
      <header class="header-container">
        <div class="header14">
          <div class="logo17">
            <img class="sfy-logo-n-214" loading="lazy" alt="" src="./public/sfy-logo-n-2@2x.png" />
          </div>
          <div class="menu-wrapper8">
            <div class="menu14">
              <div class="home128" id="homeContainer">
                <div class="menutitle84">
                  <div class="home129">Home</div>
                  <div class="menutitle-inner29">
                    <div class="frame-child147"></div>
                  </div>
                </div>
              </div>
              <div class="services49" id="servicesContainer">
                <div class="menutitle85">
                  <div class="home130">Services</div>
                  <div class="menutitle-inner30">
                    <div class="frame-child148"></div>
                  </div>
                </div>
              </div>
              <div class="events15" id="eventsContainer">
                <div class="menutitle86">
                  <div class="home131">Events</div>
                  <div class="menutitle-child41"></div>
                </div>
              </div>
              <div class="our-products30" id="ourProductsContainer">
                <div class="menutitle87">
                  <div class="home132">Our Products</div>
                  <div class="menutitle-inner31">
                    <div class="frame-child149"></div>
                  </div>
                </div>
              </div>
              <div class="blog31" id="blogContainer">
                <div class="menutitle88">
                  <div class="home133">Blog</div>
                  <div class="menutitle-child42"></div>
                </div>
              </div>
              <div class="contacts15" id="contactsContainer">
                <div class="menutitle89">
                  <div class="home134">Contact</div>
                  <div class="menutitle-child43"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-inner8">
            <div class="frame-wrapper48">
              <div class="button-wrapper9">
                <div class="button17" id="buttonContainer">
                  <div class="button-child9"></div>
                  <div class="about-us58">about us</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="sidenav" id="sidenav">
            <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Home</a>
            <a href="#">Service</a>
            <a href="#">Events</a>
            <a href="#">Our Products</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
            <button class="btn"> <a href="#">About Us</a></button>
          </div>
          <span id="openBtn" style="font-size:30px;cursor:pointer; float: right;" onclick="openNav()">&#9776;</span>
          
        </div>
      </header>
      <div class="creative-innovative-digital-parent">
        <h1 class="creative-innovative-container">
          <p class="creative-innovative">Creative & Innovative</p>
          <p class="digital-solution">Digital Solution</p>
        </h1>
        <div class="professional-stuffs-ready-to-h-wrapper">
          <div class="professional-stuffs-ready-to-h">
            <div class="home135">home</div>
            <img class="arrow-alt-left-icon12" loading="lazy" alt="" src="./public/arrow-alt-left.svg"
              id="arrowAltLeftIcon" />

            <img class="arrow-alt-lright-icon12" loading="lazy" alt="" src="./public/arrow-alt-lright.svg" />

            <div class="about-us59">about us</div>
          </div>
        </div>
      </div>
    </section>
    <section class="first-section">
      <img class="lawyer-headshot-photos-and-pre" loading="lazy" alt=""
        src="./public/lawyer-headshot-photos-and-premium-high-res-pictures-2@2x.png" />

      <div class="first-section-inner">
        <div class="about-us-parent">
          <b class="about-us60">ABOUT US</b>
          <h1 class="the-best-it-container">
            <p class="the-best-it">The Best IT Solution With 4</p>
            <p class="years">Years</p>
            <p class="of-experience">of Experience</p>
          </h1>
          <div class="lorem-ipsum-is-simply-container2">
            <p class="lorem-ipsum-is-simply2">
              Lorem Ipsum is simply dummy text of the printing and typesetting
            </p>
            <p class="has-been-the">
              has been the industry's standard dummy text ever since the
              1500s, when
            </p>
            <p class="took-a-galley">
              took a galley of type and scrambled it to make a type specimen
              book. It has
            </p>
            <p class="unchanged-lorem-ipsum-is">
              unchanged Lorem Ipsum is simply dummy text of the printing and
              typesetting
            </p>
            <p class="lorem-ipsum-has">
              Lorem Ipsum has been the industry's standard dummy text ever
              since the 150
            </p>
            <p class="an-unknown-printer">
              an unknown printer took a galley of type and scrambled it to
              make a type specimen
            </p>
            <p class="it-has-survived">
              It has survived not only five centuries, but also the leap into
              electronic typesetting,
            </p>
            <p class="remaining-essentially-unchange">
              remaining essentially unchanged. . 
            </p>
          </div>
          <button class="component-226">
            <div class="component-2-child16"></div>
            <div class="about-us61">contact us</div>
          </button>
        </div>
      </div>
    </section>
    <section class="heading">
      <h1 class="professional-stuffs-ready-container">
        <p class="professional-stuffs-ready">Professional Stuffs Ready to</p>
        <p class="help-your-business">Help Your Business</p>
      </h1>
      <div class="heading-inner">
        <img class="line-icon" loading="lazy" alt="" src="./public/line-2.svg" />
      </div>
    </section>
    <section class="second-section3">
      <div class="wrapper-group-4606-parent">
        <div class="wrapper-group-4606">
          <img class="wrapper-group-4606-child" loading="lazy" alt="" src="./public/group-4606@2x.png" />
        </div>
        <div class="d-artist">3D ARTIST & ANIMATOR</div>
        <div class="full-name">full name</div>
      </div>
      <div class="mask-group-parent8">
        <img class="mask-group-icon43" loading="lazy" alt="" src="./public/mask-group5@2x.png" />

        <div class="full-name1">full name</div>
        <div class="d-artist1">3D ARTIST</div>
      </div>
      <div class="wrapper-group-4606-group">
        <div class="wrapper-group-46061">
          <img class="wrapper-group-4606-item" loading="lazy" alt="" src="./public/group-4606@2x.png" />
        </div>
        <div class="d-artist2">3D ARTIST & ANIMATOR</div>
        <div class="full-name2">full name</div>
      </div>
      <div class="wrapper-group-4606-container">
        <div class="wrapper-group-46062">
          <img class="wrapper-group-4606-inner" loading="lazy" alt="" src="./public/group-4606@2x.png" />
        </div>
        <div class="d-artist3">3D ARTIST & ANIMATOR</div>
        <div class="full-name3">full name</div>
      </div>
      <div class="mask-group-parent9">
        <img class="mask-group-icon44" loading="lazy" alt="" src="./public/mask-group5@2x.png" />

        <div class="full-name4">full name</div>
        <div class="d-artist4">3D ARTIST</div>
      </div>
      <div class="wrapper-group-4606-parent1">
        <div class="wrapper-group-46063">
          <img class="wrapper-group-4606-child1" loading="lazy" alt="" src="./public/group-4606@2x.png" />
        </div>
        <div class="d-artist5">3D ARTIST & ANIMATOR</div>
        <div class="full-name5">full name</div>
      </div>
      <div class="wrapper-group-4606-parent2">
        <div class="wrapper-group-46064">
          <img class="wrapper-group-4606-child2" loading="lazy" alt="" src="./public/group-4606@2x.png" />
        </div>
        <div class="d-artist6">3D ARTIST & ANIMATOR</div>
        <div class="full-name6">full name</div>
      </div>
      <div class="mask-group-parent10">
        <img class="mask-group-icon45" loading="lazy" alt="" src="./public/mask-group5@2x.png" />

        <div class="full-name7">full name</div>
        <div class="d-artist7">3D ARTIST</div>
      </div>
      <div class="wrapper-group-4606-parent3">
        <div class="wrapper-group-46065">
          <img class="wrapper-group-4606-child3" loading="lazy" alt="" src="./public/group-4606@2x.png" />
        </div>
        <div class="d-artist8">3D ARTIST & ANIMATOR</div>
        <div class="full-name8">full name</div>
      </div>
      <div class="wrapper-group-4606-parent4">
        <div class="wrapper-group-46066">
          <img class="wrapper-group-4606-child4" loading="lazy" alt="" src="./public/group-4606@2x.png" />
        </div>
        <div class="d-artist9">3D ARTIST & ANIMATOR</div>
        <div class="full-name9">full name</div>
      </div>
      <div class="mask-group-parent11">
        <img class="mask-group-icon46" loading="lazy" alt="" src="./public/mask-group5@2x.png" />

        <div class="full-name10">full name</div>
        <div class="d-artist10">3D ARTIST</div>
      </div>
      <div class="wrapper-group-4606-parent5">
        <div class="wrapper-group-46067">
          <img class="wrapper-group-4606-child5" loading="lazy" alt="" src="./public/group-4606@2x.png" />
        </div>
        <div class="d-artist11">3D ARTIST & ANIMATOR</div>
        <div class="full-name11">full name</div>
      </div>
      <div class="wrapper-group-4606-parent6">
        <div class="wrapper-group-46068">
          <img class="wrapper-group-4606-child6" loading="lazy" alt="" src="./public/group-4606@2x.png" />
        </div>
        <div class="d-artist12">3D ARTIST & ANIMATOR</div>
        <div class="full-name12">full name</div>
      </div>
      <div class="mask-group-parent12">
        <img class="mask-group-icon47" loading="lazy" alt="" src="./public/mask-group5@2x.png" />

        <div class="full-name13">full name</div>
        <div class="d-artist13">3D ARTIST</div>
      </div>
      <div class="wrapper-group-4606-parent7">
        <div class="wrapper-group-46069">
          <img class="wrapper-group-4606-child7" loading="lazy" alt="" src="./public/group-4606@2x.png" />
        </div>
        <div class="d-artist14">3D ARTIST & ANIMATOR</div>
        <div class="full-name14">full name</div>
      </div>
    </section>
    <footer class="footer14">
      <div class="footer-inner4">
        <div class="frame-parent104">
          <div class="frame-parent105">
            <div class="lets-connect-parent3">
              <h1 class="lets-connect14">
                <p class="lets14">let’s</p>
                <p class="connect14">connect</p>
              </h1>
              <img class="star-icon14" loading="lazy" alt="" src="./public/star.svg" />
            </div>
            <div class="main-content">
              <div class="duis-aute-irure-container40">
                <p class="duis-aute-irure40">
                  Duis aute irure dolor in reprehendeirure dolor irit in volut
                </p>
                <p class="ate-velit-esse24">
                  ate velit esse cillum dolDuis aute irure dolor in ore
                </p>
              </div>
            </div>
            <div class="lorem-placeholder">
              <div class="our-online-media14">Our Online Media</div>
              <div class="help-support-column1">
                <img class="download-2-icon14" alt="" src="./public/download-2@2x.png" />

                <img class="download-1-114" loading="lazy" alt="" src="./public/download-1-1@2x.png" />

                <img class="download-2-114" loading="lazy" alt="" src="./public/download-2-1@2x.png" />
              </div>
            </div>
          </div>
          <div class="about-us-column">
            <div class="our-team-column3">
              <div class="content-colums">
                <div class="colum29">
                  <b class="quick-links15">Quick Links</b>
                  <div class="home136" id="homeText7">Home</div>
                  <div class="services50" id="servicesText">services</div>
                  <div class="blog32" id="blogText">blog</div>
                  <div class="event15" id="eventText">event</div>
                  <div class="our-products31" id="ourProductsText">
                    our products
                  </div>
                  <div class="contact14" id="contactText">contact</div>
                  <div class="about-us62" id="aboutUsText3">about us</div>
                </div>
                <div class="colum30">
                  <b class="links14">Links</b>
                  <div class="help14">Help</div>
                  <div class="support14">support</div>
                  <div class="clients14">clients</div>
                </div>
              </div>
              <div class="newsletter-column-parent">
                <div class="newsletter-column1">
                  <h3 class="newsleller14">newsleller</h3>
                </div>
                <div class="rectangle-parent55">
                  <div class="frame-child150"></div>
                  <input class="enter-your-email15" placeholder="enter your email" type="text" />
                </div>
                <div class="subsrcribe-wrapper6">
                  <b class="subsrcribe14">subsrcribe</b>
                </div>
              </div>
            </div>
            <div class="frame-parent106">
              <div class="our-team-wrapper9" id="frameContainer">
                <h3 class="our-team15" id="ourTeamText">our team</h3>
              </div>
              <div class="frame-parent107">
                <button class="rectangle-wrapper22">
                  <img class="frame-child151" alt="" src="./public/data-network@2x.png" />
                </button>
                <button class="rectangle-wrapper23">
                  <img class="frame-child152" alt="" src="./public/rectangle-36@2x.png" />
                </button>
                <button class="rectangle-wrapper24">
                  <img class="frame-child153" alt="" src="./public/rectangle-37@2x.png" />
                </button>
                <div class="frame-wrapper49">
                  <img class="frame-child154" loading="lazy" alt="" src="./public/group-4570@2x.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script>


    function openNav() {
      document.getElementById("sidenav").style.width = "250px";
      document.getElementById("main").style.marginRight = "250px";
      document.getElementById("openBtn").style.display = "none"; // Hide the open button
    }


    function closeNav() {
      document.getElementById("sidenav").style.width = "0";
      document.getElementById("main").style.marginRight = "0";
      document.getElementById("openBtn").style.display = "block"; // Show the open button
    }



    var homeContainer = document.getElementById("homeContainer");
    if (homeContainer) {
      homeContainer.addEventListener("click", function (e) {
        window.location.href = "./home.html";
      });
    }

    var servicesContainer = document.getElementById("servicesContainer");
    if (servicesContainer) {
      servicesContainer.addEventListener("click", function (e) {
        window.location.href = "services.html";
      });
    }

    var eventsContainer = document.getElementById("eventsContainer");
    if (eventsContainer) {
      eventsContainer.addEventListener("click", function (e) {
        window.location.href = "./events.html";
      });
    }

    var ourProductsContainer = document.getElementById("ourProductsContainer");
    if (ourProductsContainer) {
      ourProductsContainer.addEventListener("click", function (e) {
        window.location.href = "./our-product.html";
      });
    }

    var blogContainer = document.getElementById("blogContainer");
    if (blogContainer) {
      blogContainer.addEventListener("click", function (e) {
        window.location.href = "./blog.html";
      });
    }

    var contactsContainer = document.getElementById("contactsContainer");
    if (contactsContainer) {
      contactsContainer.addEventListener("click", function (e) {
        window.location.href = "./contact.html";
      });
    }

    var buttonContainer = document.getElementById("buttonContainer");
    if (buttonContainer) {
      buttonContainer.addEventListener("click", function (e) {
        window.location.href = "./about-us.html";
      });
    }

    var arrowAltLeftIcon = document.getElementById("arrowAltLeftIcon");
    if (arrowAltLeftIcon) {
      arrowAltLeftIcon.addEventListener("click", function (e) {
        window.location.href = "./home.html";
      });
    }

    var homeText7 = document.getElementById("homeText7");
    if (homeText7) {
      homeText7.addEventListener("click", function (e) {
        window.location.href = "./home.html";
      });
    }

    var servicesText = document.getElementById("servicesText");
    if (servicesText) {
      servicesText.addEventListener("click", function (e) {
        window.location.href = "services.html";
      });
    }

    var blogText = document.getElementById("blogText");
    if (blogText) {
      blogText.addEventListener("click", function (e) {
        window.location.href = "./blog.html";
      });
    }

    var eventText = document.getElementById("eventText");
    if (eventText) {
      eventText.addEventListener("click", function (e) {
        window.location.href = "./events.html";
      });
    }

    var ourProductsText = document.getElementById("ourProductsText");
    if (ourProductsText) {
      ourProductsText.addEventListener("click", function (e) {
        window.location.href = "./our-product.html";
      });
    }

    var contactText = document.getElementById("contactText");
    if (contactText) {
      contactText.addEventListener("click", function (e) {
        window.location.href = "./contact.html";
      });
    }

    var aboutUsText3 = document.getElementById("aboutUsText3");
    if (aboutUsText3) {
      aboutUsText3.addEventListener("click", function (e) {
        window.location.href = "./about-us.html";
      });
    }

    var ourTeamText = document.getElementById("ourTeamText");
    if (ourTeamText) {
      ourTeamText.addEventListener("click", function (e) {
        window.location.href = "./about-us.html";
      });
    }

    var frameContainer = document.getElementById("frameContainer");
    if (frameContainer) {
      frameContainer.addEventListener("click", function (e) {
        window.location.href = "./about-us.html";
      });
    }
  </script>
</body>

</html>