<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="responsive.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok Web:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="app-decelopment">
      <section class="hero5">
        <header class="header5">
          <div class="logo5">
            <img
              class="sfy-logo-n-25"
              loading="lazy"
              alt=""
              src="./public/sfy-logo-n-2@2x.png"
            />
          </div>
          <div class="home45">
            <div class="menu5">
              <div class="home46" id="homeContainer">
                <div class="menutitle30">
                  <div class="home47">Home</div>
                  <div class="button-wrapper2">
                    <div class="button5"></div>
                  </div>
                </div>
              </div>
              <div class="services21" id="servicesContainer">
                <div class="menutitle31">
                  <div class="home48">Services</div>
                  <div class="menutitle-inner9">
                    <div class="frame-child38"></div>
                  </div>
                </div>
              </div>
              <div class="events5" id="eventsContainer">
                <div class="menutitle32">
                  <div class="home49">Events</div>
                  <div class="menutitle-child14"></div>
                </div>
              </div>
              <div class="our-products10" id="ourProductsContainer">
                <div class="menutitle33">
                  <div class="home50">Our Products</div>
                  <div class="menutitle-inner10">
                    <div class="frame-child39"></div>
                  </div>
                </div>
              </div>
              <div class="blog10" id="blogContainer">
                <div class="menutitle34">
                  <div class="home51">Blog</div>
                  <div class="menutitle-child15"></div>
                </div>
              </div>
              <div class="contacts5" id="contactsContainer">
                <div class="menutitle35">
                  <div class="home52">Contact</div>
                  <div class="menutitle-child16"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-inner2">
            <div class="android-app-development-wrapper">
              <div class="android-app-development">
                <div class="button6" id="buttonContainer">
                  <div class="about-us-info"></div>
                  <div class="about-us20">about us</div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="hero-inner4">
          <div class="services-app-development-parent">
            <div class="services-app-development-container">
              <p class="services22">services</p>
              <p class="app-development2">app development</p>
            </div>
            <div class="newsletter-form">
              <div class="enter-your-email5">
                <div class="home53">home</div>
                <img
                  class="arrow-alt-left-icon5"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-alt-left.svg"
                  id="arrowAltLeftIcon"
                />

                <img
                  class="arrow-alt-lright-icon5"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-alt-lright.svg"
                />

                <div class="services23">services</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="frame-parent24">
        <div class="frame-wrapper12">
          <div class="lorem-container">
            <div class="lorem2">lorem</div>
            <h2 class="android-app-development-container">
              <p class="android">ANDROID</p>
              <p class="app-development3">APP DEVELOPMENT</p>
            </h2>
            <div class="due-to-the">
              Due to the significant growth of devices, Android OS presents both
              numerous opportunities and distinct obstacles. No matter what
              degree or state of development your app is in, our specialist
              developers are principally able to reduce the difficulty posed to
              app design while best supporting app creation, and they sharply
              assist in positioning it in the top rankings of the Google Play
              store.
            </div>
            <button class="component-211" id="component2">
              <div class="component-2-child7"></div>
              <div class="about-us21">contact us</div>
            </button>
          </div>
        </div>
        <div class="subscribe-button">
          <img class="icon5" alt="" src="./public/15635327-5618166-14@2x.png" />
        </div>
      </section>
      <section class="frame-parent25">
        <div class="wrapper-group-4575-container">
          <div class="wrapper-group-45752">
            <img
              class="wrapper-group-4575-inner"
              loading="lazy"
              alt=""
              src="./public/group-45752@2x.png"
            />
          </div>
        </div>
        <div class="home-menu">
          <div class="development3">development</div>
          <h2 class="ios-app-development-container">
            <p class="ios-app-development">IOS APP DEVELOPMENT</p>
          </h2>
          <div class="working-in-ios-container">
            <p class="working-in-ios">
              WORKING IN IOS GIVES YOU THE IDEAL OPPORTUNITY TO COLLABORATE
              ACROSS THREE MAJOR TOP-TIER DEVICES—THE IPHONE, IPAD, AND APPLE
              WATCH—EACH WITH EXCLUSIVELY DISTINCT POSSIBILITIES. OUR IOS
              DEVELOPERS HAVE PREVIOUSLY ACHIEVED THE HIGHEST RATING IN THE APP
              STORE AND HAVE EXPERIENCE WORKING IN A VARIETY OF FIELDS LIKE AS
              GAMES, BUSINESS APPS, FINTECH, AND MORE.
            </p>
          </div>
          <button class="component-212" id="component21">
            <div class="component-2-child8"></div>
            <div class="about-us22">contact us</div>
          </button>
        </div>
      </section>
      <section class="frame-parent26">
        <div class="development-parent1">
          <div class="development4">development</div>
          <h2 class="ios-app-development-container1">
            <p class="ios-app-development1">IOS APP DEVELOPMENT</p>
          </h2>
          <div class="working-in-ios-container1">
            <p class="working-in-ios1">
              WORKING IN IOS GIVES YOU THE IDEAL OPPORTUNITY TO COLLABORATE
              ACROSS THREE MAJOR TOP-TIER DEVICES—THE IPHONE, IPAD, AND APPLE
              WATCH—EACH WITH EXCLUSIVELY DISTINCT POSSIBILITIES. OUR IOS
              DEVELOPERS HAVE PREVIOUSLY ACHIEVED THE HIGHEST RATING IN THE APP
              STORE AND HAVE EXPERIENCE WORKING IN A VARIETY OF FIELDS LIKE AS
              GAMES, BUSINESS APPS, FINTECH, AND MORE.
            </p>
          </div>
          <button class="component-213">
            <div class="component-2-child9"></div>
            <div class="about-us23">contact us</div>
          </button>
        </div>
        <div class="wrapper-group-4575-frame">
          <div class="wrapper-group-45753">
            <img
              class="wrapper-group-4575-child1"
              alt=""
              src="./public/group-4575-11@2x.png"
            />
          </div>
        </div>
      </section>
      <div class="our-team-column">
        <img
          class="our-team-column-child"
          loading="lazy"
          alt=""
          src="./public/vector-211.svg"
        />
      </div>
      <section class="frame-parent27">
        <div class="wrapper-group-4575-wrapper1">
          <div class="wrapper-group-45754">
            <img
              class="wrapper-group-4575-child2"
              alt=""
              src="./public/group-4575-2@2x.png"
            />
          </div>
        </div>
        <div class="development-parent2">
          <div class="development5">development</div>
          <h2 class="native-app-development-container">
            <p class="native-app-development">NATIVE APP DEVELOPMENT</p>
          </h2>
          <div class="bypassing-native-development">
            Bypassing native development can significantly reduce time to
            launch, but it requires top talent to follow the right procedures.
            In order to properly maintain and satisfy users, the overall impact
            on UX design must be minimised. If done right, developers may
            explicitly share business logic between native platforms and utilise
            their strengths in efficient and effective ways
          </div>
          <button class="component-214">
            <div class="component-2-child10"></div>
            <div class="about-us24">contact us</div>
          </button>
        </div>
      </section>
      <footer class="footer5">
        <div class="footer-content">
          <div class="letusconnect">
            <div class="contact-info">
              <div class="colum-left">
                <h1 class="lets-connect5">
                  <p class="lets5">let’s</p>
                  <p class="connect5">connect</p>
                </h1>
                <img
                  class="star-icon5"
                  loading="lazy"
                  alt=""
                  src="./public/star.svg"
                />
              </div>
              <div class="duis-aute-irure-dolor-in-repre-wrapper1">
                <div class="duis-aute-irure-container11">
                  <p class="duis-aute-irure11">
                    Duis aute irure dolor in reprehendeirure dolor irit in volut
                  </p>
                  <p class="ate-velit-esse7">
                    ate velit esse cillum dolDuis aute irure dolor in ore
                  </p>
                </div>
              </div>
              <div class="blog-events-colum">
                <div class="our-online-media5">Our Online Media</div>
                <div class="header-logo">
                  <img
                    class="download-2-icon5"
                    loading="lazy"
                    alt=""
                    src="./public/download-2@2x.png"
                  />

                  <img
                    class="download-1-15"
                    loading="lazy"
                    alt=""
                    src="./public/download-1-1@2x.png"
                  />

                  <img
                    class="download-2-15"
                    loading="lazy"
                    alt=""
                    src="./public/download-2-1@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="event-menu-item">
              <div class="product-menu-item">
                <div class="blog-menu-item">
                  <div class="colum10">
                    <b class="quick-links5">Quick Links</b>
                    <div class="home54" id="homeText7">Home</div>
                    <div class="services24" id="servicesText1">services</div>
                    <div class="blog11" id="blogText">blog</div>
                    <div class="event5" id="eventText">event</div>
                    <div class="our-products11" id="ourProductsText">
                      our products
                    </div>
                    <div class="contact5" id="contactText">contact</div>
                    <div class="about-us25" id="aboutUsText5">about us</div>
                  </div>
                  <div class="colum11">
                    <b class="links5">Links</b>
                    <div class="help5">Help</div>
                    <div class="support5">support</div>
                    <div class="clients5">clients</div>
                  </div>
                </div>
                <div class="enter-email-box">
                  <div class="subscribe-button1">
                    <b class="newsleller5">newsleller</b>
                  </div>
                  <div class="rectangle-parent18">
                    <div class="frame-child40"></div>
                    <input
                      class="enter-your-email6"
                      placeholder="enter your email"
                      type="text"
                    />
                  </div>
                  <div class="subsrcribe-frame">
                    <b class="subsrcribe5">subsrcribe</b>
                  </div>
                </div>
              </div>
              <div class="frame-parent28">
                <div class="our-team-wrapper2" id="frameContainer">
                  <b class="our-team5" id="ourTeamText">our team</b>
                </div>
                <div class="columns-parent">
                  <button class="columns-parent-inner">
                    <img
                      class="frame-child41"
                      alt=""
                      src="./public/data-network@2x.png"
                    />
                  </button>
                  <button class="columns-parent-child">
                    <img
                      class="frame-child42"
                      alt=""
                      src="./public/rectangle-36@2x.png"
                    />
                  </button>
                  <button class="columns-parent-inner1">
                    <img
                      class="frame-child43"
                      alt=""
                      src="./public/rectangle-37@2x.png"
                    />
                  </button>
                  <div class="columns-parent-inner2">
                    <img
                      class="frame-child44"
                      loading="lazy"
                      alt=""
                      src="./public/group-4570@2x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesContainer = document.getElementById("servicesContainer");
      if (servicesContainer) {
        servicesContainer.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var eventsContainer = document.getElementById("eventsContainer");
      if (eventsContainer) {
        eventsContainer.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsContainer = document.getElementById("ourProductsContainer");
      if (ourProductsContainer) {
        ourProductsContainer.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var blogContainer = document.getElementById("blogContainer");
      if (blogContainer) {
        blogContainer.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var contactsContainer = document.getElementById("contactsContainer");
      if (contactsContainer) {
        contactsContainer.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var buttonContainer = document.getElementById("buttonContainer");
      if (buttonContainer) {
        buttonContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var arrowAltLeftIcon = document.getElementById("arrowAltLeftIcon");
      if (arrowAltLeftIcon) {
        arrowAltLeftIcon.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var component2 = document.getElementById("component2");
      if (component2) {
        component2.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var component21 = document.getElementById("component21");
      if (component21) {
        component21.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var homeText7 = document.getElementById("homeText7");
      if (homeText7) {
        homeText7.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesText1 = document.getElementById("servicesText1");
      if (servicesText1) {
        servicesText1.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var blogText = document.getElementById("blogText");
      if (blogText) {
        blogText.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var eventText = document.getElementById("eventText");
      if (eventText) {
        eventText.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsText = document.getElementById("ourProductsText");
      if (ourProductsText) {
        ourProductsText.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var contactText = document.getElementById("contactText");
      if (contactText) {
        contactText.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var aboutUsText5 = document.getElementById("aboutUsText5");
      if (aboutUsText5) {
        aboutUsText5.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var ourTeamText = document.getElementById("ourTeamText");
      if (ourTeamText) {
        ourTeamText.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      </script>
  </body>
</html>
