<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./responsive.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok Web:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="cards1">
      <section class="hero22">
        <header class="header24">
          <div class="logo33">
            <img
              class="sfy-logo-n-224"
              loading="lazy"
              alt=""
              src="./public/sfy-logo-n-2@2x.png"
            />
          </div>
          <div class="menu-wrapper13">
            <div class="menu25">
              <div class="home211" id="homeContainer">
                <div class="menutitle144">
                  <div class="home212">Home</div>
                  <div class="chevron-instance-wrapper">
                    <div class="chevron-instance"></div>
                  </div>
                </div>
              </div>
              <div class="services69" id="servicesContainer">
                <div class="menutitle145">
                  <div class="home213">Services</div>
                  <div class="menutitle-inner54">
                    <div class="frame-child225"></div>
                  </div>
                </div>
              </div>
              <div class="events25" id="eventsContainer">
                <div class="menutitle146">
                  <div class="home214">Events</div>
                  <div class="menutitle-child71"></div>
                </div>
              </div>
              <div class="our-products51" id="ourProductsContainer">
                <div class="menutitle147">
                  <div class="home215">Our Products</div>
                  <div class="menutitle-inner55">
                    <div class="frame-child226"></div>
                  </div>
                </div>
              </div>
              <div class="blog52" id="blogContainer">
                <div class="menutitle148">
                  <div class="home216">Blog</div>
                  <div class="menutitle-child72"></div>
                </div>
              </div>
              <div class="contacts26" id="contactsContainer">
                <div class="menutitle149">
                  <div class="home217">Contact</div>
                  <div class="menutitle-child73"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-area">
            <div class="card-design">
              <div class="social-collection">
                <div class="button29" id="buttonContainer">
                  <div class="logo-area"></div>
                  <div class="about-us83">about us</div>
                </div>
              </div>
            </div>
          </div>
         
        </header>
        <div class="box">
          <div class="sidenav" id="sidenav">
            <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Home</a>
            <a href="#">Service</a>
            <a href="#">Events</a>
            <a href="#">Our Products</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
            <button class="btn"> <a href="#">About Us</a></button>
          </div>
          <span id="openBtn" style="font-size:30px;cursor:pointer; float: right;" onclick="openNav()">&#9776;</span>
          
        </div>
        <div class="cards-container">
          <h1 class="cards2">cards</h1>
        </div>
      </section>
      <section class="card-column">
        <div class="chevron-desing">
          <div class="chevron-right-parent1">
            <img
              class="chevron-right-icon16"
              loading="lazy"
              alt=""
              src="./public/chevron-right1.svg"
            />

            <div class="help-support-column2">
              <h1 class="cards-desigh">cards desigh</h1>
            </div>
            <div class="subscribe-button9">
              <div class="social-for-yoou16">
                 social for yoou Choice handpicked collection. Discover perfect
                creative resource for your next project.
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper-mask-group-parent20" id="frameContainer">
          <div class="wrapper-mask-group57">
            <img
              class="mask-group-icon87"
              loading="lazy"
              alt=""
              src="./public/mask-group10@2x.png"
            />
          </div>
          <div class="wrapper-mask-group58">
            <img
              class="mask-group-icon88"
              alt=""
              src="./public/mask-group-19@2x.png"
            />
          </div>
          <div class="wrapper-mask-group59">
            <img
              class="mask-group-icon89"
              alt=""
              src="./public/mask-group-26@2x.png"
            />
          </div>
          <div class="wrapper-mask-group60">
            <img
              class="mask-group-icon90"
              alt=""
              src="./public/mask-group-36@2x.png"
            />
          </div>
        </div>
      </section>
      <section class="footer-mask" id="footerMask">
        <div class="wrapper-mask-group61">
          <img
            class="mask-group-icon91"
            alt=""
            src="./public/mask-group-19@2x.png"
          />
        </div>
        <div class="wrapper-mask-group62">
          <img
            class="mask-group-icon92"
            alt=""
            src="./public/mask-group10@2x.png"
          />
        </div>
        <div class="wrapper-mask-group63">
          <img
            class="mask-group-icon93"
            alt=""
            src="./public/mask-group-36@2x.png"
          />
        </div>
        <div class="wrapper-mask-group64">
          <img
            class="mask-group-icon94"
            alt=""
            src="./public/mask-group-26@2x.png"
          />
        </div>
      </section>
      <footer class="footer26">
        <div class="star-instance3">
          <div class="frame-parent154">
            <div class="frame-parent155">
              <div class="lets-connect-parent8">
                <h1 class="lets-connect24">
                  <p class="lets24">let’s</p>
                  <p class="connect24">connect</p>
                </h1>
                <img
                  class="star-icon25"
                  loading="lazy"
                  alt=""
                  src="./public/star.svg"
                />
              </div>
              <div class="duis-aute-irure-dolor-in-repre-wrapper13">
                <div class="duis-aute-irure-container50">
                  <p class="duis-aute-irure50">
                    Duis aute irure dolor in reprehendeirure dolor irit in volut
                  </p>
                  <p class="ate-velit-esse34">
                    ate velit esse cillum dolDuis aute irure dolor in ore
                  </p>
                </div>
              </div>
              <div class="our-online-media-parent11">
                <div class="our-online-media24">Our Online Media</div>
                <div class="download-2-parent8">
                  <img
                    class="download-2-icon24"
                    loading="lazy"
                    alt=""
                    src="./public/download-2@2x.png"
                  />

                  <img
                    class="download-1-124"
                    loading="lazy"
                    alt=""
                    src="./public/download-1-1@2x.png"
                  />

                  <img
                    class="download-2-124"
                    loading="lazy"
                    alt=""
                    src="./public/download-2-1@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="email-input3">
              <div class="subscribe-input">
                <div class="colum-parent8">
                  <div class="colum49">
                    <b class="quick-links25">Quick Links</b>
                    <div class="home218" id="homeText6">Home</div>
                    <div class="services70" id="servicesText">services</div>
                    <div class="blog53" id="blogText">blog</div>
                    <div class="event25" id="eventText">event</div>
                    <div class="our-products52" id="ourProductsText">
                      our products
                    </div>
                    <div class="contact30" id="contactText">contact</div>
                    <div class="about-us84" id="aboutUsText1">about us</div>
                  </div>
                  <div class="colum50">
                    <b class="links24">Links</b>
                    <div class="help24">Help</div>
                    <div class="support24">support</div>
                    <div class="clients24">clients</div>
                  </div>
                </div>
                <div class="newsletter-area">
                  <div class="our-team-area">
                    <h3 class="newsleller24">newsleller</h3>
                  </div>
                  <div class="links-column-parent">
                    <div class="links-column"></div>
                    <input
                      class="enter-your-email25"
                      placeholder="enter your email"
                      type="text"
                    />
                  </div>
                  <div class="subsrcribe-wrapper11">
                    <b class="subsrcribe24">subsrcribe</b>
                  </div>
                </div>
              </div>
              <div class="footer-area">
                <div class="our-team-wrapper17" id="frameContainer">
                  <h3 class="our-team27" id="ourTeamText">our team</h3>
                </div>
                <div class="frame-parent156">
                  <button class="rectangle-wrapper41">
                    <img
                      class="frame-child227"
                      alt=""
                      src="./public/data-network@2x.png"
                    />
                  </button>
                  <button class="rectangle-wrapper42">
                    <img
                      class="frame-child228"
                      alt=""
                      src="./public/rectangle-36@2x.png"
                    />
                  </button>
                  <button class="rectangle-wrapper43">
                    <img
                      class="frame-child229"
                      alt=""
                      src="./public/rectangle-37@2x.png"
                    />
                  </button>
                  <div class="frame-wrapper66">
                    <img
                      class="frame-child230"
                      loading="lazy"
                      alt=""
                      src="./public/group-4570@2x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      function openNav() {
      document.getElementById("sidenav").style.width = "250px";
      document.getElementById("main").style.marginRight = "250px";
      document.getElementById("openBtn").style.display = "none"; // Hide the open button
    }


    function closeNav() {
      document.getElementById("sidenav").style.width = "0";
      document.getElementById("main").style.marginRight = "0";
      document.getElementById("openBtn").style.display = "block"; // Show the open button
    }
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesContainer = document.getElementById("servicesContainer");
      if (servicesContainer) {
        servicesContainer.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var eventsContainer = document.getElementById("eventsContainer");
      if (eventsContainer) {
        eventsContainer.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsContainer = document.getElementById("ourProductsContainer");
      if (ourProductsContainer) {
        ourProductsContainer.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var blogContainer = document.getElementById("blogContainer");
      if (blogContainer) {
        blogContainer.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var contactsContainer = document.getElementById("contactsContainer");
      if (contactsContainer) {
        contactsContainer.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var buttonContainer = document.getElementById("buttonContainer");
      if (buttonContainer) {
        buttonContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./details.html";
        });
      }
      
      var footerMask = document.getElementById("footerMask");
      if (footerMask) {
        footerMask.addEventListener("click", function (e) {
          window.location.href = "./details.html";
        });
      }
      
      var homeText6 = document.getElementById("homeText6");
      if (homeText6) {
        homeText6.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesText = document.getElementById("servicesText");
      if (servicesText) {
        servicesText.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var blogText = document.getElementById("blogText");
      if (blogText) {
        blogText.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var eventText = document.getElementById("eventText");
      if (eventText) {
        eventText.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsText = document.getElementById("ourProductsText");
      if (ourProductsText) {
        ourProductsText.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var contactText = document.getElementById("contactText");
      if (contactText) {
        contactText.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var aboutUsText1 = document.getElementById("aboutUsText1");
      if (aboutUsText1) {
        aboutUsText1.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var ourTeamText = document.getElementById("ourTeamText");
      if (ourTeamText) {
        ourTeamText.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      </script>
  </body>
</html>
