<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="./style.css" />
  <link rel="stylesheet" href="./responsive.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Istok Web:wght@400&display=swap" />
</head>

<body>
  <div class="character3">
    <section class="hero23">
      
      <div class="header25">
        <div class="logo34">
          <img class="sfy-logo-n-225" loading="lazy" alt="" src="./public/sfy-logo-n-2@2x.png" />
        </div>
        <div class="menu-wrapper14">
          <nav class="menu26">
            <div class="home219" id="homeContainer">
              <div class="menutitle150">
                <div class="home220">Home</div>
                <div class="menutitle-child74"></div>
              </div>
            </div>
            <div class="services71" id="servicesContainer">
              <div class="menutitle151">
                <div class="home221">Services</div>
                <div class="menutitle-child75"></div>
              </div>
            </div>
            <div class="events26" id="eventsContainer">
              <div class="menutitle152">
                <div class="home222">Events</div>
                <div class="menutitle-child76"></div>
              </div>
            </div>
            <div class="our-products53" id="ourProductsContainer">
              <div class="menutitle153">
                <div class="home223">Our Products</div>
                <div class="menutitle-child77"></div>
              </div>
            </div>
            <div class="blog54" id="blogContainer">
              <div class="menutitle154">
                <div class="home224">Blog</div>
                <div class="menutitle-child78"></div>
              </div>
            </div>
            <div class="contacts27" id="contactsContainer">
              <div class="menutitle155">
                <div class="home225">Contact</div>
                <div class="menutitle-child79"></div>
              </div>
            </div>
          </nav>
        </div>
        <div class="header-inner13">
          <div class="frame-wrapper67">
            <div class="button-wrapper16">
              <div class="button30" id="buttonContainer">
                <div class="button-child15"></div>
                <div class="about-us85">about us</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="box">
        <div class="sidenav" id="sidenav">
          <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="#">Home</a>
          <a href="#">Service</a>
          <a href="#">Events</a>
          <a href="#">Our Products</a>
          <a href="#">Blog</a>
          <a href="#">Contact</a>
          <button class="btn"> <a href="#">About Us</a></button>
        </div>
      </div>
    

      <div class="character-container">
        <h1 class="character4">character</h1>
      </div>

    </section>

    <section class="frame-parent157">
      <div class="frame-wrapper68">
        <div class="chevron-right-parent2">
          <img class="chevron-right-icon17" loading="lazy" alt="" src="./public/chevron-right1.svg" />

          <div class="character-frame">
            <h1 class="character5">character</h1>
          </div>
          <div class="social-for-yoou-choice-handpic-container">
            <div class="social-for-yoou17">
               social for yoou Choice handpicked collection. Discover perfect
              creative resource for your next project.
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-mask-group-parent21" id="frameContainer1">
        <div class="wrapper-mask-group65">
          <img class="mask-group-icon95" loading="lazy" alt="" src="./public/mask-group11@2x.png" />
        </div>
        <div class="wrapper-mask-group66">
          <img class="mask-group-icon96" loading="lazy" alt="" src="./public/mask-group-110@2x.png" />
        </div>
        <div class="wrapper-mask-group67">
          <img class="mask-group-icon97" loading="lazy" alt="" src="./public/mask-group-27@2x.png" />
        </div>
        <div class="wrapper-mask-group68">
          <img class="mask-group-icon98" loading="lazy" alt="" src="./public/mask-group-37@2x.png" />
        </div>
      </div>
    </section>
    <section class="wrapper-mask-group-parent22" id="frameSection1">
      <div class="wrapper-mask-group69">
        <img class="mask-group-icon99" loading="lazy" alt="" src="./public/mask-group-45@2x.png" />
      </div>
      <div class="wrapper-mask-group70">
        <img class="mask-group-icon100" loading="lazy" alt="" src="./public/mask-group-55@2x.png" />
      </div>
      <div class="wrapper-mask-group71">
        <img class="mask-group-icon101" loading="lazy" alt="" src="./public/mask-group-64@2x.png" />
      </div>
      <div class="wrapper-mask-group72">
        <img class="mask-group-icon102" loading="lazy" alt="" src="./public/mask-group-74@2x.png" />
      </div>
    </section>
    <section class="footer27">
      <div class="footer-inner9">
        <footer class="frame-footer">
          <div class="frame-parent158">
            <div class="lets-connect-parent9">
              <h1 class="lets-connect25">
                <p class="lets25">let’s</p>
                <p class="connect25">connect</p>
              </h1>
              <img class="star-icon26" loading="lazy" alt="" src="./public/star.svg" />
            </div>
            <div class="duis-aute-irure-dolor-in-repre-wrapper14">
              <div class="duis-aute-irure-container51">
                <p class="duis-aute-irure51">
                  Duis aute irure dolor in reprehendeirure dolor irit in volut
                </p>
                <p class="ate-velit-esse35">
                  ate velit esse cillum dolDuis aute irure dolor in ore
                </p>
              </div>
            </div>
            <div class="our-online-media-parent12">
              <div class="our-online-media25">Our Online Media</div>
              <div class="download-2-parent9">
                <img class="download-2-icon25" loading="lazy" alt="" src="./public/download-2@2x.png" />

                <img class="download-1-125" loading="lazy" alt="" src="./public/download-1-1@2x.png" />

                <img class="download-2-125" loading="lazy" alt="" src="./public/download-2-1@2x.png" />
              </div>
            </div>
          </div>
          <div class="frame-parent159">
            <div class="frame-parent160">
              <div class="colum-parent9">
                <div class="colum51">
                  <b class="quick-links26">Quick Links</b>
                  <div class="home226" id="homeText6">Home</div>
                  <div class="services72" id="servicesText">services</div>
                  <div class="blog55" id="blogText">blog</div>
                  <div class="event26" id="eventText">event</div>
                  <div class="our-products54" id="ourProductsText">
                    our products
                  </div>
                  <div class="contact31" id="contactText">contact</div>
                  <div class="about-us86" id="aboutUsText1">about us</div>
                </div>
                <div class="colum52">
                  <b class="links25">Links</b>
                  <div class="help25">Help</div>
                  <div class="support25">support</div>
                  <div class="clients25">clients</div>
                </div>
              </div>
              <div class="frame-parent161">
                <div class="newsleller-wrapper12">
                  <h3 class="newsleller25">newsleller</h3>
                </div>
                <div class="rectangle-parent71">
                  <div class="frame-child231"></div>
                  <div class="enter-your-email26">enter your email</div>
                </div>
                <div class="subsrcribe-wrapper12">
                  <b class="subsrcribe25">subsrcribe</b>
                </div>
              </div>
            </div>
            <div class="frame-parent162">
              <div class="our-team-wrapper18" id="frameContainer">
                <h3 class="our-team28" id="ourTeamText">our team</h3>
              </div>
              <div class="frame-parent163">
                <div class="rectangle-wrapper44">
                  <img class="frame-child232" loading="lazy" alt="" src="./public/data-network@2x.png" />
                </div>
                <div class="rectangle-wrapper45">
                  <img class="frame-child233" loading="lazy" alt="" src="./public/rectangle-36@2x.png" />
                </div>
                <div class="rectangle-wrapper46">
                  <img class="frame-child234" loading="lazy" alt="" src="./public/rectangle-37@2x.png" />
                </div>
                <div class="frame-wrapper69">
                  <img class="frame-child235" loading="lazy" alt="" src="./public/group-4570@2x.png" />
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </section>
  </div>

  <script>

    function openNav() {
      document.getElementById("sidenav").style.width = "250px";
      document.getElementById("main").style.marginRight = "250px";
      document.getElementById("openBtn").style.display = "none"; // Hide the open button
    }


    function closeNav() {
      document.getElementById("sidenav").style.width = "0";
      document.getElementById("main").style.marginRight = "0";
      document.getElementById("openBtn").style.display = "block"; // Show the open button
    }



    var homeContainer = document.getElementById("homeContainer");
    if (homeContainer) {
      homeContainer.addEventListener("click", function (e) {
        window.location.href = "./home.html";
      });
    }

    var servicesContainer = document.getElementById("servicesContainer");
    if (servicesContainer) {
      servicesContainer.addEventListener("click", function (e) {
        window.location.href = "services.html";
      });
    }

    var eventsContainer = document.getElementById("eventsContainer");
    if (eventsContainer) {
      eventsContainer.addEventListener("click", function (e) {
        window.location.href = "./events.html";
      });
    }

    var ourProductsContainer = document.getElementById("ourProductsContainer");
    if (ourProductsContainer) {
      ourProductsContainer.addEventListener("click", function (e) {
        window.location.href = "./our-product.html";
      });
    }

    var blogContainer = document.getElementById("blogContainer");
    if (blogContainer) {
      blogContainer.addEventListener("click", function (e) {
        window.location.href = "./blog.html";
      });
    }

    var contactsContainer = document.getElementById("contactsContainer");
    if (contactsContainer) {
      contactsContainer.addEventListener("click", function (e) {
        window.location.href = "./contact.html";
      });
    }

    var buttonContainer = document.getElementById("buttonContainer");
    if (buttonContainer) {
      buttonContainer.addEventListener("click", function (e) {
        window.location.href = "./about-us.html";
      });
    }

    var frameContainer1 = document.getElementById("frameContainer1");
    if (frameContainer1) {
      frameContainer1.addEventListener("click", function (e) {
        window.location.href = "./details.html";
      });
    }

    var frameSection1 = document.getElementById("frameSection1");
    if (frameSection1) {
      frameSection1.addEventListener("click", function (e) {
        window.location.href = "./details.html";
      });
    }

    var homeText6 = document.getElementById("homeText6");
    if (homeText6) {
      homeText6.addEventListener("click", function (e) {
        window.location.href = "./home.html";
      });
    }

    var servicesText = document.getElementById("servicesText");
    if (servicesText) {
      servicesText.addEventListener("click", function (e) {
        window.location.href = "services.html";
      });
    }

    var blogText = document.getElementById("blogText");
    if (blogText) {
      blogText.addEventListener("click", function (e) {
        window.location.href = "./blog.html";
      });
    }

    var eventText = document.getElementById("eventText");
    if (eventText) {
      eventText.addEventListener("click", function (e) {
        window.location.href = "./events.html";
      });
    }

    var ourProductsText = document.getElementById("ourProductsText");
    if (ourProductsText) {
      ourProductsText.addEventListener("click", function (e) {
        window.location.href = "./our-product.html";
      });
    }

    var contactText = document.getElementById("contactText");
    if (contactText) {
      contactText.addEventListener("click", function (e) {
        window.location.href = "./contact.html";
      });
    }

    var aboutUsText1 = document.getElementById("aboutUsText1");
    if (aboutUsText1) {
      aboutUsText1.addEventListener("click", function (e) {
        window.location.href = "./about-us.html";
      });
    }

    var ourTeamText = document.getElementById("ourTeamText");
    if (ourTeamText) {
      ourTeamText.addEventListener("click", function (e) {
        window.location.href = "./about-us.html";
      });
    }

    var frameContainer = document.getElementById("frameContainer");
    if (frameContainer) {
      frameContainer.addEventListener("click", function (e) {
        window.location.href = "./about-us.html";
      });
    }
  </script>
</body>

</html>