<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok Web:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="content-writing2">
      <section class="hero3">
        <header class="header3">
          <div class="logo3">
            <img
              class="sfy-logo-n-23"
              loading="lazy"
              alt=""
              src="./public/sfy-logo-n-2@2x.png"
            />
          </div>
          <div class="menu-wrapper1">
            <div class="menu3">
              <div class="home27" id="homeContainer">
                <div class="menutitle18">
                  <div class="home28">Home</div>
                  <div class="home-menu-btns-wrapper">
                    <div class="home-menu-btns"></div>
                  </div>
                </div>
              </div>
              <div class="services13" id="servicesContainer">
                <div class="menutitle19">
                  <div class="home29">Services</div>
                  <div class="menutitle-inner5">
                    <div class="frame-child24"></div>
                  </div>
                </div>
              </div>
              <div class="events3" id="eventsContainer">
                <div class="menutitle20">
                  <div class="home30">Events</div>
                  <div class="menutitle-child8"></div>
                </div>
              </div>
              <div class="our-products6" id="ourProductsContainer">
                <div class="menutitle21">
                  <div class="home31">Our Products</div>
                  <div class="menutitle-inner6">
                    <div class="frame-child25"></div>
                  </div>
                </div>
              </div>
              <div class="blog6" id="blogContainer">
                <div class="menutitle22">
                  <div class="home32">Blog</div>
                  <div class="menutitle-child9"></div>
                </div>
              </div>
              <div class="contacts3" id="contactsContainer">
                <div class="menutitle23">
                  <div class="home33">Contact</div>
                  <div class="menutitle-child10"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-child">
            <div class="frame-wrapper6">
              <div class="button-frame">
                <div class="button3" id="buttonContainer">
                  <div class="button-item"></div>
                  <div class="about-us12">about us</div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="hero-inner3">
          <div class="services-content-writing-parent">
            <div class="services-content-writing-container">
              <p class="services14">services</p>
              <p class="content-writing3">content writing</p>
            </div>
            <div class="frame-wrapper7">
              <div class="home-parent1">
                <div class="home34">home</div>
                <img
                  class="arrow-alt-left-icon3"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-alt-left.svg"
                  id="arrowAltLeftIcon"
                />

                <img
                  class="arrow-alt-lright-icon3"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-alt-lright.svg"
                />

                <div class="services15">services</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="email-subscription-form-parent">
        <div class="email-subscription-form">
          <div class="content-writing4">CONTENT WRITING</div>
          <h1 class="considerations-to-know">
            Considerations To Know About Content Writing
          </h1>
          <div class="performance-management-is1">
            Performance management is a crucial aspect of any organization,
            including digital marketing companies. It involves setting goals,
            evaluating progress, and providing feedback to improve individual or
            organizational performance. In a digital marketing company,
            performance management can help ensure that employees are meeting
            their targets and contributing to the overall success of the
            company. This can be achieved through regular goal-setting and
            progress evaluation. For example, a digital marketing company might
            set goals for the number of leads generated or the amount of website
            traffic generated. Progress towards these goals can then be
            evaluated on a regular basis to ensure that employees are on track.
            Feedback is also an important part of performance management.
          </div>
        </div>
        <div class="frame">
          <img
            class="icon2"
            loading="lazy"
            alt=""
            src="./public/8801955-1@2x.png"
          />
        </div>
      </section>
      <section class="performance-management-group">
        <div class="performance-management4">performance management</div>
        <div class="informational-the">
          Informational – the searcher is looking for unique info on a topic.
          Navigational – the searcher is looking for a selected Web content or
          website. Writing a press release is the initial step in direction of
          attracting media awareness, and read more encouraging them to write
          down a Tale about your merchandise, services, or celebration. As being
          the customer, you’ll want to test out the content service provider.
          We’ll go over more about ways to assess the standard of the content by
          itself, but subsequent the demo publish, choose Take note of the
          following: Choose key terms which have been realistically attainable
          to your manufacturer, depending on the area authority of your website
          in relation to search phrase problems. Instruments such as Semrush’s
          Search phrase Magic Instrument may help you get insightful data,
          enabling you to exploration your entire sector by beginning that has a
          seed search phrase.
        </div>
        <div class="component-2-frame" id="frameContainer">
          <button class="component-27">
            <div class="component-2-child3"></div>
            <div class="about-us13">contact us</div>
          </button>
        </div>
      </section>
      <section class="right-section3">
        <div class="wrapper1">
          <img
            class="icon3"
            loading="lazy"
            alt=""
            src="./public/15635327-5618166-12@2x.png"
          />
        </div>
        <div class="right-section-inner2">
          <div class="importance-of-creating-effecti-group">
            <div class="importance-of-creating1">
              importance of creating effective content for our website
            </div>
            <div class="the-competition-have">
              The competition: Have a look at prime-ranking parts of content for
              people keywords and phrases, to find out what rivals are
              expressing. This could Present you with an notion of what your
              viewers is seeking, and tips on how to differentiate with a far
              more thorough bit of content. When they’re still left with some
              confusion or lingering issues right after looking through your
              content, chances are, your audience might be also. Make an effort
              to distinct up Those people troubles when you move on to your
              revisions. Informational – the searcher is looking for unique info
              on a topic. Navigational – the searcher is looking for a selected
              Web content or website. Writing a press release is the initial
              step in direction of attracting media awareness, and read more
              encouraging them to write down a Tale about your merchandise,
              services, or celebration.
            </div>
            <div class="component-2-wrapper1" id="frameContainer">
              <button class="component-28">
                <div class="component-2-child4"></div>
                <div class="about-us14">contact us</div>
              </button>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer3">
        <div class="footer-inner">
          <div class="frame-parent11">
            <div class="performance-title-parent">
              <div class="performance-title">
                <h1 class="lets-connect3">
                  <p class="lets3">let’s</p>
                  <p class="connect3">connect</p>
                </h1>
                <img
                  class="star-icon3"
                  loading="lazy"
                  alt=""
                  src="./public/star.svg"
                />
              </div>
              <div class="duis-aute-irure-dolor-in-repre-container">
                <div class="duis-aute-irure-container9">
                  <p class="duis-aute-irure9">
                    Duis aute irure dolor in reprehendeirure dolor irit in volut
                  </p>
                  <p class="ate-velit-esse5">
                    ate velit esse cillum dolDuis aute irure dolor in ore
                  </p>
                </div>
              </div>
              <div class="our-online-media-group">
                <div class="our-online-media3">Our Online Media</div>
                <div class="download-button">
                  <img
                    class="download-2-icon3"
                    loading="lazy"
                    alt=""
                    src="./public/download-2@2x.png"
                  />

                  <img
                    class="download-1-13"
                    loading="lazy"
                    alt=""
                    src="./public/download-1-1@2x.png"
                  />

                  <img
                    class="download-2-13"
                    loading="lazy"
                    alt=""
                    src="./public/download-2-1@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="blog-column">
              <div class="frame-parent12">
                <div class="colum-parent">
                  <div class="colum6">
                    <b class="quick-links3">Quick Links</b>
                    <div class="home35" id="homeText7">Home</div>
                    <div class="services16" id="servicesText1">services</div>
                    <div class="blog7" id="blogText">blog</div>
                    <div class="event3" id="eventText">event</div>
                    <div class="our-products7" id="ourProductsText">
                      our products
                    </div>
                    <div class="contact3" id="contactText">contact</div>
                    <div class="about-us15" id="aboutUsText3">about us</div>
                  </div>
                  <div class="colum7">
                    <b class="links3">Links</b>
                    <div class="help3">Help</div>
                    <div class="support3">support</div>
                    <div class="clients3">clients</div>
                  </div>
                </div>
                <div class="frame-parent13">
                  <div class="newsleller-container">
                    <h3 class="newsleller3">newsleller</h3>
                  </div>
                  <div class="rectangle-parent16">
                    <div class="frame-child26"></div>
                    <input
                      class="enter-your-email3"
                      placeholder="enter your email"
                      type="text"
                    />
                  </div>
                  <div class="subscribe-label">
                    <b class="subsrcribe3">subsrcribe</b>
                  </div>
                </div>
              </div>
              <div class="footer-component">
                <div class="our-team-frame" id="frameContainer">
                  <h3 class="our-team3" id="ourTeamText">our team</h3>
                </div>
                <div class="frame-parent14">
                  <button class="rectangle-wrapper">
                    <img
                      class="rectangle-icon"
                      alt=""
                      src="./public/data-network@2x.png"
                    />
                  </button>
                  <button class="rectangle-frame">
                    <img
                      class="frame-child27"
                      alt=""
                      src="./public/rectangle-36@2x.png"
                    />
                  </button>
                  <button class="frame-button">
                    <img
                      class="frame-child28"
                      alt=""
                      src="./public/rectangle-37@2x.png"
                    />
                  </button>
                  <div class="frame-wrapper8">
                    <img
                      class="frame-child29"
                      loading="lazy"
                      alt=""
                      src="./public/group-4570@2x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesContainer = document.getElementById("servicesContainer");
      if (servicesContainer) {
        servicesContainer.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var eventsContainer = document.getElementById("eventsContainer");
      if (eventsContainer) {
        eventsContainer.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsContainer = document.getElementById("ourProductsContainer");
      if (ourProductsContainer) {
        ourProductsContainer.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var blogContainer = document.getElementById("blogContainer");
      if (blogContainer) {
        blogContainer.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var contactsContainer = document.getElementById("contactsContainer");
      if (contactsContainer) {
        contactsContainer.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var buttonContainer = document.getElementById("buttonContainer");
      if (buttonContainer) {
        buttonContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var arrowAltLeftIcon = document.getElementById("arrowAltLeftIcon");
      if (arrowAltLeftIcon) {
        arrowAltLeftIcon.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var homeText7 = document.getElementById("homeText7");
      if (homeText7) {
        homeText7.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesText1 = document.getElementById("servicesText1");
      if (servicesText1) {
        servicesText1.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var blogText = document.getElementById("blogText");
      if (blogText) {
        blogText.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var eventText = document.getElementById("eventText");
      if (eventText) {
        eventText.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsText = document.getElementById("ourProductsText");
      if (ourProductsText) {
        ourProductsText.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var contactText = document.getElementById("contactText");
      if (contactText) {
        contactText.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var aboutUsText3 = document.getElementById("aboutUsText3");
      if (aboutUsText3) {
        aboutUsText3.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var ourTeamText = document.getElementById("ourTeamText");
      if (ourTeamText) {
        ourTeamText.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      </script>
  </body>
</html>
