<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="responsive.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok Web:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="event8">
      <section class="hero8">
        <header class="header8">
          <div class="logo9">
            <img
              class="sfy-logo-n-28"
              loading="lazy"
              alt=""
              src="./public/sfy-logo-n-2@2x.png"
            />
          </div>
          <div class="menu-wrapper4">
            <div class="menu8">
              <div class="home74" id="homeContainer">
                <div class="menutitle48">
                  <div class="home75">Home</div>
                  <div class="quick-links-column">
                    <div class="subscribe-button2"></div>
                  </div>
                </div>
              </div>
              <div class="services33" id="servicesContainer">
                <div class="menutitle49">
                  <div class="home76">Services</div>
                  <div class="menutitle-inner16">
                    <div class="frame-child61"></div>
                  </div>
                </div>
              </div>
              <div class="events8" id="eventsContainer">
                <div class="menutitle50">
                  <div class="home77">Events</div>
                  <div class="menutitle-child23"></div>
                </div>
              </div>
              <div class="our-products16" id="ourProductsContainer">
                <div class="menutitle51">
                  <div class="home78">Our Products</div>
                  <div class="menutitle-inner17">
                    <div class="frame-child62"></div>
                  </div>
                </div>
              </div>
              <div class="blog16" id="blogContainer">
                <div class="menutitle52">
                  <div class="home79">Blog</div>
                  <div class="menutitle-child24"></div>
                </div>
              </div>
              <div class="contacts9" id="contactsContainer">
                <div class="menutitle53">
                  <div class="home80">Contact</div>
                  <div class="menutitle-child25"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-inner4">
            <div class="frame-wrapper17">
              <div class="button-wrapper5">
                <div class="button9" id="buttonContainer">
                  <div class="button-child3"></div>
                  <div class="about-us36">about us</div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="hero-inner7">
          <div class="services-event-management-parent">
            <div class="services-event-management-container">
              <p class="services34">services</p>
              <p class="event-management2">event management</p>
            </div>
            <div class="frame-wrapper18">
              <div class="home-parent2">
                <div class="home81">home</div>
                <img
                  class="arrow-alt-left-icon8"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-alt-left.svg"
                  id="arrowAltLeftIcon"
                />

                <img
                  class="arrow-alt-lright-icon8"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-alt-lright.svg"
                />

                <div class="services35">services</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="home-page-header-parent">
        <div class="home-page-header">
          <div class="event-management3">event management</div>
          <h1 class="the-event-management">The Event Management Diaries</h1>
          <div class="soon-after-correctly">
            Soon after correctly completing the Core Training course Collection,
            which supplies you the foundational competencies of event
            management, you can opt for a concentration observe: corporate event
            management or live event management. There are several devoted event
            management schooling programs offered. Whether or not you’re ranging
            from scratch, have now taken a degree or want to vary Professions,
            We've got formulated An array of accredited event management
            coaching masking the spectrum from Foundation, to Diploma, to
            Postgraduate concentrations. In the following paragraphs, we will
            give you the event organizing “huge photograph” and allow you to
            imagine the event management course of action from an increased
            vantage point. We break up up this significant-level framework into
            five stages to give you a starting off-off position to execute your
            specific strategy.
          </div>
        </div>
        <div class="frame-wrapper19">
          <div class="wrapper6">
            <img
              class="icon10"
              loading="lazy"
              alt=""
              src="./public/9233781-4111605-1@2x.png"
            />
          </div>
        </div>
      </section>
      <div class="subscribe-form-container-wrapper">
        <img
          class="subscribe-form-container"
          loading="lazy"
          alt=""
          src="./public/vector-213.svg"
        />
      </div>
      <section class="right-section7">
        <div class="right-section-inner6">
          <div class="lorem-parent3">
            <div class="lorem5">lorem</div>
            <div class="social-media-marketing3">
              Social media marketing is a type of digital marketing that makes
              use of the strength of well-known social media platforms to meet
              your branding and marketing objectives. However, setting up
              accounts for your business and posting whenever you feel like it
              is not all there is to it. Social media marketing calls for a
              flexible approach with quantifiable objectives that includes. With
              Social for Yoou, a reputable social media business in India, you
              can improve your online visibility. We put in a lot of effort, try
              to comprehend our clients, and get things done. We can transform
              the social media profiles for your business into interactive and
              engaging platforms thanks to our professional team of digital
              marketers and social media specialists. Our expert social media
              agency Dubai services can assist you in connecting with and
              engaging with your target market, expanding the reach of your
              company, and discovering new platforms for your company. Our
              well-thought-out, original, captivating, and interactive social
              media campaigns produce outcomes. Contact one of our social media
              experts right away!
            </div>
            <button class="component-221">
              <div class="home-services-blog-column"></div>
              <div class="about-us37">contact us</div>
            </button>
          </div>
        </div>
        <div class="wrapper7">
          <img
            class="icon11"
            loading="lazy"
            alt=""
            src="./public/15635327-5618166-16@2x.png"
          />
        </div>
      </section>
      <section class="frame-parent42">
        <div class="wrapper-group-4575-wrapper6">
          <div class="wrapper-group-457510">
            <img
              class="wrapper-group-4575-child8"
              loading="lazy"
              alt=""
              src="./public/group-45755@2x.png"
            />
          </div>
        </div>
        <div class="seo-group">
          <div class="seo2">seo</div>
          <h1 class="lorem-ipsum-is-simply-container">
            <p class="lorem-ipsum-is-simply">Lorem Ipsum is simply dummy</p>
            <p class="blank-line6">&nbsp;</p>
            <p class="blank-line7">&nbsp;</p>
          </h1>
          <div class="lorem-ipsum-is-simply-container1">
            <p class="lorem-ipsum-is-simply1">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries,
            </p>
          </div>
          <button class="component-222">
            <div class="team-info-column"></div>
            <div class="about-us38">contact us</div>
          </button>
        </div>
      </section>
      <section class="services-title1">
        <div class="event-management4">event management</div>
        <div class="permits-start-easy-container">
          <p class="permits-start-easy">
            Permit’s start easy. Are you organizing an internal or external
            event? An internal event is just one within your Group placed on for
            employees. This event may very well be an appreciation event, a
            vacation get together, education, teambuilding physical exercise,
            and even more. An exterior event is a person beyond the Firm that
            looks to sign up attendees. When all is alleged and accomplished,
            provide event recaps, highlights, infographics, images and video
            clips for your attendees. The objective is to increase the lifetime
            of your event past just the event dates, acquiring your attendees
            more invested inside your Business. To really make it a lot easier,
            use event internet marketing software so that you could automate a
            number of your procedures.
          </p>
          <p class="blank-line8">&nbsp;</p>
          <p class="this-article-will">
            This article will deliver an summary check here of these 5 principal
            phases and backlink to additional resources in which you can dive
            deeper into extra instruction. An event supervisor will observe all
            components of the event on-site. A lot of the tasks listed inside
            the introduction might move for the venue, but generally at a price.
            Needless to say, yet another way to take a look at what staying an
            event planner’s definitely like will be to read some authentic-life
            activities! Michael Heipel’s web site post about why he loves
            Functioning in events provides beneficial insights as to what
            lifestyle’s like being an event supervisor. And with our SafeConnect
            assure, you could be self-confident that your in-particular person
            and hybrid events is not going to only be flawlessly executed, you
            may belief They are going to be Safe and sound.
          </p>
        </div>
        <button class="component-223">
          <div class="footer-links"></div>
          <div class="about-us39">contact us</div>
        </button>
      </section>
      <footer class="footer8">
        <div class="footer-inner1">
          <div class="help-support-clients-parent">
            <div class="help-support-clients1">
              <div class="star-instance">
                <h1 class="lets-connect8">
                  <p class="lets8">let’s</p>
                  <p class="connect8">connect</p>
                </h1>
                <img
                  class="star-icon8"
                  loading="lazy"
                  alt=""
                  src="./public/star.svg"
                />
              </div>
              <div class="duis-aute-irure-dolor-in-repre-wrapper3">
                <div class="duis-aute-irure-container14">
                  <p class="duis-aute-irure14">
                    Duis aute irure dolor in reprehendeirure dolor irit in volut
                  </p>
                  <p class="ate-velit-esse10">
                    ate velit esse cillum dolDuis aute irure dolor in ore
                  </p>
                </div>
              </div>
              <div class="services-events-colum">
                <div class="our-online-media8">Our Online Media</div>
                <div class="download-2-parent1">
                  <img
                    class="download-2-icon8"
                    loading="lazy"
                    alt=""
                    src="./public/download-2@2x.png"
                  />

                  <img
                    class="download-1-18"
                    loading="lazy"
                    alt=""
                    src="./public/download-1-1@2x.png"
                  />

                  <img
                    class="download-2-18"
                    loading="lazy"
                    alt=""
                    src="./public/download-2-1@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="help-support-column-parent">
              <div class="help-support-column">
                <div class="colum-parent1">
                  <div class="colum17">
                    <b class="quick-links8">Quick Links</b>
                    <div class="home82" id="homeText7">Home</div>
                    <div class="services36" id="servicesText1">services</div>
                    <div class="blog17" id="blogText">blog</div>
                    <div class="event9" id="eventText">event</div>
                    <div class="our-products17" id="ourProductsText">
                      our products
                    </div>
                    <div class="contact8" id="contactText">contact</div>
                    <div class="about-us40" id="aboutUsText4">about us</div>
                  </div>
                  <div class="colum18">
                    <b class="links8">Links</b>
                    <div class="help8">Help</div>
                    <div class="support8">support</div>
                    <div class="clients8">clients</div>
                  </div>
                </div>
                <div class="frame-parent43">
                  <div class="newsleller-wrapper3">
                    <h3 class="newsleller8">newsleller</h3>
                  </div>
                  <div class="input-email-instance-parent">
                    <div class="input-email-instance"></div>
                    <input
                      class="enter-your-email9"
                      placeholder="enter your email"
                      type="text"
                    />
                  </div>
                  <div class="subsrcribe-wrapper3">
                    <b class="subsrcribe8">subsrcribe</b>
                  </div>
                </div>
              </div>
              <div class="our-team-column-parent">
                <div class="our-team-column2" id="ourTeamColumn">
                  <h3 class="our-team8" id="ourTeamText">our team</h3>
                </div>
                <div class="frame-parent44">
                  <button class="rectangle-wrapper10">
                    <img
                      class="frame-child63"
                      alt=""
                      src="./public/data-network@2x.png"
                    />
                  </button>
                  <button class="rectangle-wrapper11">
                    <img
                      class="frame-child64"
                      alt=""
                      src="./public/rectangle-36@2x.png"
                    />
                  </button>
                  <button class="rectangle-wrapper12">
                    <img
                      class="frame-child65"
                      alt=""
                      src="./public/rectangle-37@2x.png"
                    />
                  </button>
                  <div class="frame-wrapper20">
                    <img
                      class="frame-child66"
                      loading="lazy"
                      alt=""
                      src="./public/group-4570@2x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesContainer = document.getElementById("servicesContainer");
      if (servicesContainer) {
        servicesContainer.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var eventsContainer = document.getElementById("eventsContainer");
      if (eventsContainer) {
        eventsContainer.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsContainer = document.getElementById("ourProductsContainer");
      if (ourProductsContainer) {
        ourProductsContainer.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var blogContainer = document.getElementById("blogContainer");
      if (blogContainer) {
        blogContainer.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var contactsContainer = document.getElementById("contactsContainer");
      if (contactsContainer) {
        contactsContainer.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var buttonContainer = document.getElementById("buttonContainer");
      if (buttonContainer) {
        buttonContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var arrowAltLeftIcon = document.getElementById("arrowAltLeftIcon");
      if (arrowAltLeftIcon) {
        arrowAltLeftIcon.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var homeText7 = document.getElementById("homeText7");
      if (homeText7) {
        homeText7.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesText1 = document.getElementById("servicesText1");
      if (servicesText1) {
        servicesText1.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var blogText = document.getElementById("blogText");
      if (blogText) {
        blogText.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var eventText = document.getElementById("eventText");
      if (eventText) {
        eventText.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsText = document.getElementById("ourProductsText");
      if (ourProductsText) {
        ourProductsText.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var contactText = document.getElementById("contactText");
      if (contactText) {
        contactText.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var aboutUsText4 = document.getElementById("aboutUsText4");
      if (aboutUsText4) {
        aboutUsText4.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var ourTeamText = document.getElementById("ourTeamText");
      if (ourTeamText) {
        ourTeamText.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var ourTeamColumn = document.getElementById("ourTeamColumn");
      if (ourTeamColumn) {
        ourTeamColumn.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      </script>
  </body>
</html>
