<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="./style.css" />
  <link rel="stylesheet" href="responsive.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Istok Web:wght@400&display=swap" />
  <!-- <style>
      .marquee {
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
      }
      .marquee span {
          display: inline-block;
          padding-left: 100%;
          animation: marquee 10s linear infinite;
      }
      @keyframes marquee {
          0% { transform: translate(0, 0); }
          100% { transform: translate(-100%, 0); }
      }
  </style> -->
</head>

<body>
  <div class="home119">
    <section class="container-parent">
      <header class="container1">
        <div class="header13">
          <div class="logo15">
            <img class="sfy-logo-n-213" loading="lazy" alt="" src="./public/sfy-logo-n-22@2x.png" />
          </div>
          <div class="menu-wrapper7">
            <div class="menu13">
              <div class="home120" id="homeContainer">
                <div class="menutitle78">
                  <div class="home121">Home</div>
                  <div class="sibling-link-wrapper">
                    <div class="sibling-link"></div>
                  </div>
                </div>
              </div>
              <div class="services47" id="servicesContainer">
                <div class="menutitle79">
                  <div class="home122">Services</div>
                  <div class="menutitle-inner27">
                    <div class="frame-child118"></div>
                  </div>
                </div>
              </div>
              <div class="events14" id="eventsContainer">
                <div class="menutitle80">
                  <div class="home123">Events</div>
                  <div class="menutitle-child38"></div>
                </div>
              </div>
              <div class="our-products27" id="ourProductsContainer">
                <div class="menutitle81">
                  <div class="home124">Our Products</div>
                  <div class="menutitle-inner28">
                    <div class="frame-child119"></div>
                  </div>
                </div>
              </div>
              <div class="blog29" id="blogContainer">
                <div class="menutitle82">
                  <div class="home125">Blog</div>
                  <div class="menutitle-child39"></div>
                </div>
              </div>
              <div class="contacts14" id="contactsContainer">
                <div class="menutitle83">
                  <div class="home126">Contact</div>
                  <div class="menutitle-child40"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="ancestor-connection">
            <div class="descendant-connection">
              <div class="button15" id="buttonContainer">
                <div class="button-child8"></div>
                <div class="about-us52">about us</div>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          
          <div class="sidenav" id="sidenav">
            <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Home</a>
            <a href="#">Service</a>
            <a href="#">Events</a>
            <a href="#">Our Products</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
            <button class="btn"> <a href="#">About Us</a></button>
          </div>
          <span id="openBtn" style="font-size:30px;cursor:pointer; float: right;" onclick="openNav()">&#9776;</span>
          
        </div>


      </header>
      <div class="sub-tree">
        <div class="bgframeandicons1">
          <div class="men-1-group">
            <img class="men-1-icon1" alt="" src="./public/men-1@2x.png" />

            <img class="icon13" alt="" src="./public/2-8267843@2x.png" />

            <img class="icon14" alt="" src="./public/3-2225762@2x.png" />

            <img class="icon15" alt="" src="./public/5-2@2x.png" />

            <img class="icon16" alt="" src="./public/1-6682183@2x.png" />
          </div>
          <img class="man-icon1" loading="lazy" alt="" src="./public/man@2x.png" />
        </div>
        <div class="siblings-wrapper">
          <div class="siblings">
            <div class="siblings-inner">
              <div class="component-27-parent">
                <img class="component-27-icon1" alt="" src="./public/component-27@2x.png" />

                <img class="component-34-icon" loading="lazy" alt="" src="./public/component-34@2x.png" />
              </div>
            </div>
            <button class="button16">
              <div class="ancestor-children"></div>
              <div class="about-us53">explore more</div>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="second-section2">
      <div class="subtree-nexus-wrapper">
        <div class="subtree-nexus">
          <h1 class="business-trend6">business trend</h1>
          <div class="every-pleasure-is-container6">
            <p class="every-pleasure-is6">
              Every pleasure is to be welcomed and every pain
            </p>
            <p class="tavoidedand-every-pain2">
              tavoided.and every pain avoided welcomed
            </p>
          </div>
          <div class="photosstack2">
            <div class="branch-assembly-parent">
              <img class="branch-assembly-icon" alt="" src="./public/shear-transformer@2x.png" />

              <img class="rooted-tree-icon" alt="" src="./public/perspective-transformer@2x.png" />

              <img class="subtree-segment-icon" alt="" src="./public/raster-image-handler@2x.png" />

              <img class="ancestry-chain-icon" loading="lazy" alt="" src="./public/ellipse-61@2x.png" />
            </div>
            <div class="ellipse-parent7">
              <div class="frame-child120"></div>
              <div class="div3">8+</div>
            </div>
          </div>
        </div>
      </div>
      <div class="descendancy-chain">
        <div class="branch-expansion-parent">
          <div class="branch-expansion"></div>
          <div class="business-trend-parent3">
            <div class="business-trend7">business trend</div>
            <div class="every-pleasure-is-container7">
              <p class="every-pleasure-is7">
                Every pleasure is to be welcomed
              </p>
              <p class="and-every-pain4">and every pain tavoided.</p>
            </div>
          </div>
          <div class="rectangle-parent39">
            <div class="frame-child121"></div>
            <img class="png7-1-icon4" alt="" src="./public/png7-11@2x.png" />
          </div>
        </div>
        <div class="rectangle-parent40">
          <div class="instance-child8"></div>
          <div class="business-trend-parent4">
            <div class="business-trend8">business trend</div>
            <div class="every-pleasure-is-container8">
              <p class="every-pleasure-is8">
                Every pleasure is to be welcomed
              </p>
              <p class="and-every-pain5">and every pain tavoided.</p>
            </div>
          </div>
          <div class="rectangle-parent41">
            <div class="frame-child122"></div>
            <img class="png7-1-icon5" alt="" src="./public/png7-11@2x.png" />
          </div>
        </div>
      </div>
    </section>
    <section class="third-section-parent">
      <div class="third-section1">
        <div class="ellipse-parent8">
          <div class="frame-child123"></div>
          <div class="frame-wrapper38">
            <div class="ellipse-parent9">
              <div class="frame-child124"></div>
              <h2 class="mark1">mark</h2>
              <div class="frame-wrapper39">
                <div class="eting-group">
                  <h2 class="eting1">eting</h2>
                  <div class="frame-wrapper40">
                    <div class="vector-group">
                      <img class="frame-child125" alt="" src="./public/graph-builder.svg" />

                      <img class="vector-icon2" alt="" src="./public/vector-1.svg" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-wrapper41">
            <div class="vector-container">
              <img class="frame-child126" alt="" src="./public/vector-11.svg" />

              <img class="vector-icon3" alt="" src="./public/vector.svg" />
            </div>
          </div>
          <img class="frame-child127" alt="" src="./public/group-16.svg" />

          <div class="ellipse-parent10">
            <div class="frame-child128"></div>
            <div class="frame-wrapper42">
              <img class="frame-child129" alt="" src="./public/group-15.svg" />
            </div>
          </div>
          <div class="frame-child130"></div>
          <div class="component-252">
            <div class="group-4594-2-group">
              <img class="group-4594-21" alt="" src="./public/group-4594-2@2x.png" />

              <img class="free-vector-bar-graph-11" loading="lazy" alt=""
                src="./public/free-vector---bar-graph-1@2x.png" />
            </div>
          </div>
        </div>
        <div class="right-section-container">
          <div class="right-section9">
            <div class="who-we-are3">WHO WE ARE</div>
            <h2 class="we-develop-container3">
              <p class="we-develop3">we develop &</p>
              <p class="cratedigital-future3">crateDigital future</p>
            </h2>
            <div class="duis-aute-irure-container29">
              <p class="duis-aute-irure29">
                Duis aute irure dolor in reprehendeirure dolor irit in volut
              </p>
              <p class="ate-velit-esse19">
                ate velit esse cillum dolDuis aute irure dolor in ore
              </p>
              <p class="accu-santium-fugiat4">
                accu santium fugiat nulla pariatur.s
              </p>
            </div>
            <div class="frame-parent86">
              <div class="frame-parent87">
                <button class="shopify-1-wrapper">
                  <img class="shopify-1-icon2" alt="" src="./public/shopify-1@2x.png" />
                </button>
                <button class="walmart-logo-1-wrapper">
                  <img class="walmart-logo-1-icon2" alt="" src="./public/walmartlogo-1@2x.png" />
                </button>
                <button class="amazon-logo-1-wrapper">
                  <img class="amazon-logo-1-icon2" alt="" src="./public/amazonlogo-1@2x.png" />
                </button>
                <button class="d05a1-c52a-4f5e-abf2-0d49d4c0d-wrapper">
                  <img class="d05a1-c52a-4f5e-abf2-0d49d4c0d-icon2" alt=""
                    src="./public/296d05a1c52a4f5eabf20d49d4c0d6b3-1@2x.png" />
                </button>
              </div>
              <div class="frame-parent88">
                <div class="frame-parent89">
                  <div class="ellipse-parent11">
                    <div class="frame-child131"></div>
                    <img class="images-photoroom-1-icon2" loading="lazy" alt=""
                      src="./public/imagesphotoroom-11@2x.png" />
                  </div>
                  <b class="customer-support2">customer support</b>
                </div>
                <div class="frame-parent90">
                  <div class="ellipse-parent12">
                    <div class="frame-child132"></div>
                    <img class="usb-1-icon2" alt="" src="./public/usb-1@2x.png" />
                  </div>
                  <b class="individual-approach2">individual approach</b>
                </div>
              </div>
            </div>
            <button class="component-225">
              <div class="component-2-child15"></div>
              <div class="about-us54">explore more</div>
            </button>
          </div>
        </div>
      </div>
      <div class="we-are-a-creative-digital-mark-wrapper">
        <h2 class="we-are-a-container1">
          <p class="we-are-a1">we are a creative digital</p>
          <p class="marketing-agency1">marketing agency</p>
        </h2>
      </div>
    </section>
    <section class="component-34">
      
      <div class="data-aggregator-wrapper">
        <img class="data-aggregator-icon" loading="lazy" alt="" src="./public/rectangle-141@2x.png" />
      </div>
      <img class="component-34-child" loading="lazy" alt="" src="./public/rectangle-131@2x.png" />

      <div class="wrapper-image-holder">
        <img class="image-holder-icon" loading="lazy" alt="" src="./public/rectangle-101@2x.png" />
      </div>
      <div class="output-container">
        <div class="wrapper-list-element">
          <img class="list-element-icon" loading="lazy" alt="" src="./public/rectangle-111@2x.png" />
        </div>
      </div>
      <div class="wrapper-rectangle-12-wrapper">
        <div class="wrapper-rectangle-121">
          <img class="wrapper-rectangle-12-item" loading="lazy" alt="" src="./public/rectangle-121@2x.png" />
        </div>
      </div>


      
    </section>

    <div class="box3">
      <img class="count1" loading="lazy" alt="" src="./public/rectangle-141@2x.png" />
      <img class="count2" loading="lazy" alt="" src="./public/rectangle-131@2x.png" />
      <img class="count3" loading="lazy" alt="" src="./public/rectangle-101@2x.png" />
      <img class="count4" loading="lazy" alt="" src="./public/rectangle-111@2x.png" />
      <img class="count5" loading="lazy" alt="" src="./public/rectangle-121@2x.png" />
    </div>

    <section class="fifth-section3">
      <div class="toggle-switch-wrapper">
        <div class="toggle-switch">
          <div class="rectangle-parent42">
            <div class="instance-child9"></div>
            <div class="relationship-1-wrapper3">
              <img class="relationship-1-icon8" loading="lazy" alt="" src="./public/relationship-12@2x.png" />
            </div>
            <img class="f-303410986-ladgtlc36i34hc85bg-icon8" alt=""
              src="./public/240-f-303410986-ladgtlc36i34hc85bgahx9cnjriegxtsphotoroom-1@2x.png" />

            <div class="frame-parent91">
              <div class="link-building-wrapper5">
                <b class="link-building8">Link building</b>
              </div>
              <div class="duis-aute-irure-container30">
                <p class="duis-aute-irure30">Duis aute irure dolor in fot</p>
                <p class="reprehendeirure-dolo10">reprehendeirure dolo</p>
              </div>
            </div>
          </div>
          <div class="rectangle-parent43">
            <div class="instance-child10"></div>
            <img class="relationship-1-icon9" alt="" src="./public/relationship-12@2x.png" />

            <div class="f-303410986-ladgtlc36i34hc85bg-frame">
              <img class="f-303410986-ladgtlc36i34hc85bg-icon9" loading="lazy" alt=""
                src="./public/240-f-303410986-ladgtlc36i34hc85bgahx9cnjriegxtsphotoroom-1@2x.png" />
            </div>
            <div class="link-building-wrapper6">
              <b class="link-building9">
                <p class="email-marketing3">Email marketing</p>
              </b>
            </div>
            <div class="duis-aute-irure-container31">
              <p class="duis-aute-irure31">Duis aute irure dolor in fot</p>
              <p class="reprehendeirure-dolo11">reprehendeirure dolo</p>
            </div>
          </div>
          <div class="rectangle-parent44">
            <div class="instance-child11"></div>
            <div class="relationship-1-wrapper4">
              <img class="relationship-1-icon10" alt="" src="./public/relationship-1-12@2x.png" />
            </div>
            <img class="f-303410986-ladgtlc36i34hc85bg-icon10" alt=""
              src="./public/240-f-303410986-ladgtlc36i34hc85bgahx9cnjriegxtsphotoroom-1@2x.png" />

            <div class="frame-parent92">
              <div class="link-building-wrapper7">
                <b class="link-building10">Optimization </b>
              </div>
              <div class="duis-aute-irure-container32">
                <p class="duis-aute-irure32">Duis aute irure dolor in fot</p>
                <p class="reprehendeirure-dolo12">reprehendeirure dolo</p>
              </div>
            </div>
          </div>
          <div class="rectangle-parent45">
            <div class="instance-child12"></div>
            <div class="relationship-1-wrapper5">
              <img class="relationship-1-icon11" alt="" src="./public/relationship-1-22@2x.png" />
            </div>
            <img class="f-303410986-ladgtlc36i34hc85bg-icon11" alt=""
              src="./public/240-f-303410986-ladgtlc36i34hc85bgahx9cnjriegxtsphotoroom-1@2x.png" />

            <div class="frame-parent93">
              <div class="link-building-wrapper8">
                <b class="link-building11">Development</b>
              </div>
              <div class="duis-aute-irure-container33">
                <p class="duis-aute-irure33">Duis aute irure dolor in fot</p>
                <p class="reprehendeirure-dolo13">reprehendeirure dolo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-container">
        <div class="who-we-are4">WHO WE ARE</div>
        <h2 class="we-develop-container4">
          <p class="we-develop4">we develop &</p>
          <p class="cratedigital-future4">crateDigital future</p>
        </h2>
        <div class="duis-aute-irure-container34">
          <p class="duis-aute-irure34">
            Duis aute irure dolor in reprehendeirure dolor irit in volut
          </p>
          <p class="ate-velit-esse20">
            ate velit esse cillum dolDuis aute irure dolor in ore
          </p>
          <p class="accu-santium-fugiat5">
            accu santium fugiat nulla pariatur.s
          </p>
        </div>
        <div class="info-box">
          <div class="callout">
            <img class="mask-group-icon42" loading="lazy" alt="" src="./public/mask-group4@2x.png" />

            <div class="work-completed-parent1">
              <b class="work-completed3">Work Completed</b>
              <b class="b6">86’500+</b>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="space-wrapper">
      <div class="space">
        <div class="panel-wrapper">
          <div class="panel">
            <h1 class="grow-your-business-container1">
              <p class="grow-your-business1">Grow your business</p>
              <p class="expert-sales1">expert sales</p>
            </h1>
            <div class="duis-aute-irure-container35">
              <p class="duis-aute-irure35">
                Duis aute irure dolor in reprehendeirure dolor irit in volut
              </p>
              <p class="ate-velit-esse21">
                ate velit esse cillum dolDuis aute irure dolor in ore
              </p>
            </div>
            <div class="frame-parent94">
              <div class="check-8-container">
                <img class="check-8-icon3" alt="" src="./public/check-8@2x.png" />

                <div class="campaign-roi-exceeds4">
                  692% Campaign ROI Exceeds
                </div>
              </div>
              <div class="check-9-container">
                <img class="check-9-icon3" alt="" src="./public/check-8@2x.png" />

                <div class="x-the-number4">
                  8x The Number Of Keywords Sending
                </div>
              </div>
              <div class="check-8-parent1">
                <img class="check-8-icon4" alt="" src="./public/check-8@2x.png" />

                <div class="increase-in-organic3">
                  296% Increase In Organic Traffic
                </div>
              </div>
              <div class="check-9-parent1">
                <img class="check-9-icon4" alt="" src="./public/check-8@2x.png" />

                <div class="sed-ut-perspiciatis1">
                  Sed Ut Perspiciatis Unde
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="png9-1-parent">
          <img class="png9-1-icon1" alt="" src="./public/png9-1@2x.png" />

          <div class="shape-modifiers">
            <div class="grid"></div>
            <div class="stack4"></div>
            <img class="sfy-logo-n-11" loading="lazy" alt="" src="./public/sfy-logo-n-1@2x.png" />
          </div>
          <div class="rectangle-parent46">
            <div class="frame-child133"></div>
            <div class="download-4-photoroom-1-wrapper">
              <img class="download-4-photoroom-12" alt="" src="./public/download-4photoroom-1@2x.png" />
            </div>
            <b class="style">999</b>
          </div>
          <b class="k1">12k</b>
          <div class="duis-aute-irure-container36">
            <p class="duis-aute-irure36">Duis aute irure dolor in fot</p>
            <p class="reprehendeirure-dolo14">reprehendeirure dolo</p>
          </div>
          <b class="b7">70%</b>
          <div class="duis-aute-irure-container37">
            <p class="duis-aute-irure37">Duis aute irure dolor in fot</p>
            <p class="reprehendeirure-dolo15">reprehendeirure dolo</p>
          </div>
        </div>
      </div>
    </section>
    <section class="home-inner">
      <div class="frame-parent95">
        <div class="frame-wrapper43">
          <div class="find-your-right-plan-parent">
            <h1 class="find-your-right2">find your right plan</h1>
            <img class="data-aggregator-icon1" alt="" src="./public/vector-13.svg" />
          </div>
        </div>
        <div class="slider-parent">
          <div class="slider2">
            <div class="slides2">
              <div class="wrapper-table-formatter">
                <img class="table-formatter-icon" loading="lazy" alt="" src="./public/rectangle-232@2x.png" />
              </div>
              <img class="symbol-collection-icon" alt="" src="./public/rectangle-21@2x.png" />

              <div class="wrapper-table-formatter1">
                <img class="table-formatter-icon1" loading="lazy" alt="" src="./public/rectangle-242@2x.png" />
              </div>
            </div>
            <div class="navigation-frame">
              <div class="navigation2">
                <img class="arrow-left-icon2" alt="" src="./public/arrow-left.svg" />

                <button class="arrow-right2">
                  <div class="arrow-right-item"></div>
                  <img class="arrow-right-light-icon2" alt="" src="./public/arrow-right-light.svg" />
                </button>
              </div>
            </div>
          </div>
          <div class="backroung-rect-frame">
            <div class="backroung-rect2">
              <div class="plan-detail-frame">
                <div class="plan-detail2">
                  <div class="planprice2">
                    <h2 class="unlimited-plan2">unlimited plan</h2>
                    <b class="b8">$416</b>
                  </div>
                  <div class="checks2">
                    <div class="anchoring-helper">
                      <img class="check-5-icon6" alt="" src="./public/check-5@2x.png" />

                      <div class="campaign-roi-exceeds5">
                        692% Campaign ROI Exceeds
                      </div>
                    </div>
                    <div class="anchoring-helper1">
                      <img class="check-5-icon7" alt="" src="./public/check-5@2x.png" />

                      <div class="x-the-number5">
                        8x The Number Of Keywords Sending
                      </div>
                    </div>
                    <div class="anchoring-helper2">
                      <img class="check-5-icon8" alt="" src="./public/check-5@2x.png" />

                      <div class="increase-in-organic4">
                        296% Increase In Organic Traffic
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="spacing-manager-parent">
                <div class="spacing-manager1"></div>
                <div class="rectangle-parent47">
                  <div class="frame-child134"></div>
                  <h2 class="purchase-now2">purchase now</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="eight-section1">
      <div class="eight-section-inner1">
        <img class="frame-child135" loading="lazy" alt="" src="./public/group-45861@2x.png" />
      </div>
      <div class="to-my-mind-container2">
        <p class="to-my-mind2">
          To My Mind, The Greatest Reward For Any Renovation Project Is Being
          Able To Expertience The Transformation From Beginning
        </p>
        <p class="to-end-i2">
          To End. I Enjoy Getting To See How A Renovation Can Go From An Idea
          To A
        </p>
        <p class="reality-and-lead2">Reality And Lead To An Elevated Mood</p>
      </div>
      <div class="eight-section-inner2">
        <div class="frame-parent96">
          <div class="connector-parent">
            <div class="connector"></div>
            <h1 class="h12">“</h1>
          </div>
          <div class="marco-marlee-group">
            <h2 class="marco-marlee2">marco marlee</h2>
            <div class="building-crop-container">
              <div class="building-crop2">building crop</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ninth-section1">
      <div class="component-241">
        <div class="frame-parent97">
          <div class="frame-wrapper44">
            <div class="frame-parent98">
              <div class="frame-wrapper45">
                <img class="frame-child136" loading="lazy" alt="" src="./public/group-13.svg" />
              </div>
              <div class="frame-parent99">
                <div class="frame-wrapper46">
                  <div class="frame-parent100">
                    <div class="color-changer-parent">
                      <div class="color-changer"></div>
                      <div class="value-filter">
                        <img class="download-4-photoroom-13" alt="" src="./public/download-4photoroom-1-11@2x.png" />
                      </div>
                      <b class="b9">999</b>
                    </div>
                    <div class="data-merger">
                      <img class="data-merger-child" alt="" src="./public/group-121.svg" />
                    </div>
                  </div>
                </div>
                <img class="frame-child137" alt="" src="./public/vector-11-11.svg" />
              </div>
            </div>
          </div>
          <img class="frame-child138" alt="" src="./public/group-101.svg" />
        </div>
        <div class="frame-parent101">
          <div class="m001t0325-c-20aug22-2-group">
            <img class="m001t0325-c-20aug22-2-icon1" alt="" src="./public/32225761-m001t0325-c-20aug22-2@2x.png" />

            <img class="pngg-2-icon1" alt="" src="./public/pngg-2@2x.png" />
          </div>
          <div class="data-collector1">
            <div class="sequence-handler">
              <div class="sequence-handler-inner">
                <div class="frame-child139"></div>
              </div>
              <img class="sequence-handler-child" loading="lazy" alt="" src="./public/group-11.svg" />
            </div>
            <div class="pattern-finder">
              <div class="similarity-comparator">
                <img class="similarity-comparator-child" alt="" src="./public/group-141.svg" />

                <div class="similarity-comparator-item"></div>
              </div>
            </div>
          </div>
          <img class="vector-icon4" alt="" src="./public/vector-22.svg" />
        </div>
        <div class="component-24-child"></div>
      </div>
      <div class="result-aggregator-parent">
        <div class="result-aggregator">
          <div class="professional-approach1">PROFESSIONAL APPROACH</div>
          <h2 class="generation-100-traffic-container1">
            <p class="generation-100-traffic1">generation 100% traffic</p>
            <p class="on-your-website1">on your website</p>
          </h2>
          <div class="duis-aute-irure-container38">
            <p class="duis-aute-irure38">
              Duis aute irure dolor in reprehendeirure dolor irit in volut
            </p>
            <p class="ate-velit-esse22">
              ate velit esse cillum dolDuis aute irure dolor in ore
            </p>
          </div>
        </div>
        <div class="frame-wrapper47">
          <div class="result-combiner-parent">
            <div class="result-combiner">
              <img class="check-8-icon5" alt="" src="./public/check-8-2@2x.png" />

              <div class="campaign-roi-exceeds6">
                692% Campaign ROI Exceeds
              </div>
            </div>
            <div class="result-combiner1">
              <img class="check-9-icon5" alt="" src="./public/check-8-2@2x.png" />

              <div class="x-the-number6">
                8x The Number Of Keywords Sending
              </div>
            </div>
          </div>
        </div>
        <div class="value-analyzer">
          <div class="frame-parent102">
            <div class="progress-bar-group">
              <div class="progress-bar3">
                <img class="progress-bar-child3" alt="" src="./public/group-46351@2x.png" />

                <div class="div4">90%</div>
              </div>
              <div class="client-satisfied-wrapper">
                <b class="client-satisfied1">
                  <p class="client1">Client</p>
                  <p class="satisfied1">Satisfied</p>
                </b>
              </div>
            </div>
            <div class="progress-bar-container">
              <div class="progress-bar4">
                <img class="progress-bar-child4" alt="" src="./public/group-4635-1@2x.png" />

                <div class="div5">90%</div>
              </div>
              <div class="finance-consulting-container">
                <b class="finance-consulting1">
                  <p class="finance1">Finance</p>
                  <p class="consulting1">Consulting</p>
                </b>
              </div>
            </div>
          </div>
        </div>
        <button class="component-41">
          <div class="component-4-child"></div>
          <div class="about-us55">explore more</div>
        </button>
      </div>
    </section>
    <section class="result-splitter">
      <!-- <span>Scrolling Text with CSS</span> -->
      <div class="rectangle-parent48">
        <marquee behavior="" direction="left" scrollamount="12" scrolldelay="1ms" loop="infinite">

        <div class="frame-child140"></div>
        <span class="development9" id="one">development</span>
        <span class="feedbox4" id="one">feedbox</span>
        <span class="screen-cast4" id="one">screen cast</span>
        <span class="branding4" id="one">branding</span>
        <span class="marketing4" id="one">marketing</span>

        <span class="development9" id="one">development</span>
        <span class="feedbox4" id="one">feedbox</span>
        <span class="screen-cast4" id="one">screen cast</span>
        <span class="branding4" id="one">branding</span>
        <span class="marketing4" id="one">marketing</span>

        <span class="development9" id="one">development</span>
        <span class="feedbox4" id="one">feedbox</span

      </div>
    </marquee>
    </section>
    <section class="value-processor">
      <div class="frame-parent103">
        <div class="recent-blog-posts-wrapper">
          <h2 class="recent-blog-posts1">recent blog posts</h2>
        </div>
        <div class="data-aggregator-group">
          <div class="data-aggregator6">
            <img class="data-aggregator-child1" loading="lazy" alt="" src="./public/group-4577@2x.png" />

            <button class="rectangle-parent49">
              <div class="frame-child141"></div>
              <div class="email-marketing4">email marketing</div>
            </button>
            <div class="use-keywords-strategically-container1">
              <p class="use-keywords-strategically1">
                Use Keywords Strategically
              </p>
              <p class="throughout-the-blog1">Throughout The Blog</p>
            </div>
          </div>
          <div class="data-aggregator7">
            <img class="data-aggregator-child2" loading="lazy" alt="" src="./public/group-45756@2x.png" />

            <button class="rectangle-parent50">
              <div class="frame-child142"></div>
              <div class="clock-fly-strategy1">clock fly strategy</div>
            </button>
            <div class="spending-habits-13-container1">
              <p class="spending-habits-131">Spending Habits. 13 Tips For</p>
              <p class="grow-your-money1">Grow Your Money.</p>
            </div>
          </div>
          <div class="data-aggregator8">
            <img class="data-aggregator-child3" loading="lazy" alt="" src="./public/group-4573@2x.png" />

            <button class="rectangle-parent51">
              <div class="frame-child143"></div>
              <div class="brand-design1">brand design</div>
            </button>
            <div class="grow-wealth-like-container1">
              <p class="grow-wealth-like1">Grow Wealth Like A Tree.</p>
              <p class="branches-roots-in1">Branches Roots In Savings</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="data-transformer-list">
      <div class="label-remover-list">
        <div class="pair-processor-list">
          <h2 class="our-products28">our products</h2>
        </div>
        <div class="normalizer">
          <div class="reducer">
            <img class="reducer-child" alt="" src="./public/group-4577-1@2x.png" />

            <div class="value-analyzer-list">
              <button class="rectangle-parent52" id="groupButton3">
                <div class="frame-child144"></div>
                <div class="logo16">logo</div>
              </button>
            </div>
          </div>
          <div class="reducer1">
            <img class="reducer-item" alt="" src="./public/group-4575-14@2x.png" />

            <div class="reducer-inner">
              <button class="rectangle-parent53" id="groupButton4">
                <div class="frame-child145"></div>
                <div class="banner1">banner</div>
              </button>
            </div>
          </div>
          <div class="reducer2">
            <img class="reducer-child1" alt="" src="./public/group-4573-1@2x.png" />

            <div class="reducer-inner1">
              <button class="rectangle-parent54">
                <div class="frame-child146" id="rectangle"></div>
                <div class="web-design1">web design</div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer13">
      <div class="transform">
        <div class="aggregator">
          <div class="sorter">
            <div class="filter-bank">
              <h1 class="lets-connect13">
                <p class="lets13">let’s</p>
                <p class="connect13">connect</p>
              </h1>
              <img class="star-icon13" alt="" src="./public/star.svg" />
            </div>
            <div class="processor-chain">
              <div class="duis-aute-irure-container39">
                <p class="duis-aute-irure39">
                  Duis aute irure dolor in reprehendeirure dolor irit in volut
                </p>
                <p class="ate-velit-esse23">
                  ate velit esse cillum dolDuis aute irure dolor in ore
                </p>
              </div>
            </div>
            <div class="error-corrector">
              <div class="our-online-media13">Our Online Media</div>
              <div class="calculator">
                <img class="download-2-icon13" alt="" src="./public/download-2@2x.png" />

                <img class="download-1-113" alt="" src="./public/download-1-1@2x.png" />

                <img class="download-2-113" alt="" src="./public/download-2-1@2x.png" />
              </div>
            </div>
          </div>
          <div class="predictor">
            <div class="analyzer">
              <div class="visualizer1">
                <div class="colum27">
                  <b class="quick-links14">Quick Links</b>
                  <div class="home127" id="homeText6">Home</div>
                  <div class="services48" id="servicesText">services</div>
                  <div class="blog30" id="blogText">blog</div>
                  <div class="event14" id="eventText">event</div>
                  <div class="our-products29" id="ourProductsText1">
                    our products
                  </div>
                  <div class="contact13" id="contactText">contact</div>
                  <div class="about-us56" id="aboutUsText4">about us</div>
                </div>
                <div class="colum28">
                  <b class="links13">Links</b>
                  <div class="help13">Help</div>
                  <div class="support13">support</div>
                  <div class="clients13">clients</div>
                </div>
              </div>
              <div class="processor-pool-parent">
                <div class="processor-pool">
                  <b class="newsleller13">newsleller</b>
                </div>
                <div class="dynamic-flow-parent">
                  <div class="dynamic-flow"></div>
                  <input class="enter-your-email14" placeholder="enter your email" type="text" />
                </div>
                <div class="graph-processor">
                  <b class="subsrcribe13">subsrcribe</b>
                </div>
              </div>
            </div>
            <div class="tensor-processor">
              <div class="neural-network" id="neuralNetworkContainer">
                <b class="our-team14" id="ourTeamText">our team</b>
              </div>
              <div class="machine-learning">
                <button class="data-aggregator9">
                  <img class="data-aggregator-child4" alt="" src="./public/data-network@2x.png" />
                </button>
                <button class="data-aggregator10">
                  <img class="data-aggregator-child5" alt="" src="./public/rectangle-36@2x.png" />
                </button>
                <button class="data-aggregator11">
                  <img class="data-aggregator-child6" alt="" src="./public/rectangle-37@2x.png" />
                </button>
                <div class="data-aggregator12">
                  <img class="data-aggregator-child7" loading="lazy" alt="" src="./public/group-4570@2x.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script>

    function openNav() {
      document.getElementById("sidenav").style.width = "250px";
      document.getElementById("main").style.marginRight = "250px";
      document.getElementById("openBtn").style.display = "none"; // Hide the open button
    }


    function closeNav() {
      document.getElementById("sidenav").style.width = "0";
      document.getElementById("main").style.marginRight = "0";
      document.getElementById("openBtn").style.display = "block"; // Show the open button
    }


    var homeContainer = document.getElementById("homeContainer");
    if (homeContainer) {
      homeContainer.addEventListener("click", function (e) {
        window.location.href = "./home.html";
      });
    }

    var servicesContainer = document.getElementById("servicesContainer");
    if (servicesContainer) {
      servicesContainer.addEventListener("click", function (e) {
        window.location.href = "services.html";
      });
    }

    var eventsContainer = document.getElementById("eventsContainer");
    if (eventsContainer) {
      eventsContainer.addEventListener("click", function (e) {
        window.location.href = "./events.html";
      });
    }

    var ourProductsContainer = document.getElementById("ourProductsContainer");
    if (ourProductsContainer) {
      ourProductsContainer.addEventListener("click", function (e) {
        window.location.href = "./our-product.html";
      });
    }

    var blogContainer = document.getElementById("blogContainer");
    if (blogContainer) {
      blogContainer.addEventListener("click", function (e) {
        window.location.href = "./blog.html";
      });
    }

    var contactsContainer = document.getElementById("contactsContainer");
    if (contactsContainer) {
      contactsContainer.addEventListener("click", function (e) {
        window.location.href = "./contact.html";
      });
    }

    var buttonContainer = document.getElementById("buttonContainer");
    if (buttonContainer) {
      buttonContainer.addEventListener("click", function (e) {
        window.location.href = "./about-us.html";
      });
    }

    var groupButton3 = document.getElementById("groupButton3");
    if (groupButton3) {
      groupButton3.addEventListener("click", function (e) {
        window.location.href = "./our-product.html";
      });
    }

    var groupButton4 = document.getElementById("groupButton4");
    if (groupButton4) {
      groupButton4.addEventListener("click", function (e) {
        window.location.href = "./our-product.html";
      });
    }

    var rectangle = document.getElementById("rectangle");
    if (rectangle) {
      rectangle.addEventListener("click", function (e) {
        window.location.href = "./our-product.html";
      });
    }

    var homeText6 = document.getElementById("homeText6");
    if (homeText6) {
      homeText6.addEventListener("click", function (e) {
        window.location.href = "./home.html";
      });
    }

    var servicesText = document.getElementById("servicesText");
    if (servicesText) {
      servicesText.addEventListener("click", function (e) {
        window.location.href = "services.html";
      });
    }

    var blogText = document.getElementById("blogText");
    if (blogText) {
      blogText.addEventListener("click", function (e) {
        window.location.href = "./blog.html";
      });
    }

    var eventText = document.getElementById("eventText");
    if (eventText) {
      eventText.addEventListener("click", function (e) {
        window.location.href = "./events.html";
      });
    }

    var ourProductsText1 = document.getElementById("ourProductsText1");
    if (ourProductsText1) {
      ourProductsText1.addEventListener("click", function (e) {
        window.location.href = "./our-product.html";
      });
    }

    var contactText = document.getElementById("contactText");
    if (contactText) {
      contactText.addEventListener("click", function (e) {
        window.location.href = "./contact.html";
      });
    }

    var aboutUsText4 = document.getElementById("aboutUsText4");
    if (aboutUsText4) {
      aboutUsText4.addEventListener("click", function (e) {
        window.location.href = "./about-us.html";
      });
    }

    var ourTeamText = document.getElementById("ourTeamText");
    if (ourTeamText) {
      ourTeamText.addEventListener("click", function (e) {
        window.location.href = "./about-us.html";
      });
    }

    var neuralNetworkContainer = document.getElementById("neuralNetworkContainer");
    if (neuralNetworkContainer) {
      neuralNetworkContainer.addEventListener("click", function (e) {
        window.location.href = "./about-us.html";
      });
    }
  </script>
</body>

</html>