<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok Web:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="performation-management">
      <section class="hero2">
        <div class="header-wrapper">
          <header class="header2">
            <div class="logo2">
              <img
                class="sfy-logo-n-22"
                loading="lazy"
                alt=""
                src="./public/sfy-logo-n-2@2x.png"
              />
            </div>
            <div class="menu-frame">
              <div class="menu2">
                <div class="home18" id="homeContainer">
                  <div class="menutitle12">
                    <div class="home19">Home</div>
                    <div class="left-navigation">
                      <div class="nav-buttons"></div>
                    </div>
                  </div>
                </div>
                <div class="services9" id="servicesContainer">
                  <div class="menutitle13">
                    <div class="home20">Services</div>
                    <div class="menutitle-inner3">
                      <div class="frame-child21"></div>
                    </div>
                  </div>
                </div>
                <div class="events2" id="eventsContainer">
                  <div class="menutitle14">
                    <div class="home21">Events</div>
                    <div class="menutitle-child5"></div>
                  </div>
                </div>
                <div class="our-products4" id="ourProductsContainer">
                  <div class="menutitle15">
                    <div class="home22">Our Products</div>
                    <div class="menutitle-inner4">
                      <div class="frame-child22"></div>
                    </div>
                  </div>
                </div>
                <div class="blog4" id="blogContainer">
                  <div class="menutitle16">
                    <div class="home23">Blog</div>
                    <div class="menutitle-child6"></div>
                  </div>
                </div>
                <div class="contacts2" id="contactsContainer">
                  <div class="menutitle17">
                    <div class="home24">Contact</div>
                    <div class="menutitle-child7"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="page-header-wrapper">
              <div class="page-header">
                <div class="button-container">
                  <div class="button2" id="buttonContainer">
                    <div class="home-column"></div>
                    <div class="about-us8">about us</div>
                  </div>
                </div>
              </div>
            </div>
          </header>
        </div>
        <div class="services-performance-managemen-container">
          <p class="services10">services</p>
          <p class="performance-management2">performance management</p>
        </div>
        <div class="hero-inner2">
          <div class="home-container">
            <div class="home25">home</div>
            <img
              class="arrow-alt-left-icon2"
              loading="lazy"
              alt=""
              src="./public/arrow-alt-left.svg"
              id="arrowAltLeftIcon"
            />

            <img
              class="arrow-alt-lright-icon2"
              loading="lazy"
              alt=""
              src="./public/arrow-alt-lright.svg"
            />

            <div class="services11">services</div>
          </div>
        </div>
      </section>
      <section class="frame-section">
        <div class="social-media-marketing-parent">
          <div class="social-media-marketing2">social media marketing</div>
          <h1 class="what-is-social-container2">
            <p class="what-is-social2">What is Social</p>
            <p class="media-marketing-used1">Media Marketing used for?</p>
          </h1>
          <div class="performance-management-is">
            Performance management is a crucial aspect of any organization,
            including digital marketing companies. It involves setting goals,
            evaluating progress, and providing feedback to improve individual or
            organizational performance. In a digital marketing company,
            performance management can help ensure that employees are meeting
            their targets and contributing to the overall success of the
            company. This can be achieved through regular goal-setting and
            progress evaluation. For example, a digital marketing company might
            set goals for the number of leads generated or the amount of website
            traffic generated. Progress towards these goals can then be
            evaluated on a regular basis to ensure that employees are on track.
            Feedback is also an important part of performance management. By
            providing employees with
          </div>
          <button class="component-25" id="component2">
            <div class="component-2-child1"></div>
            <div class="about-us9">contact us</div>
          </button>
        </div>
        <div class="frame-wrapper4">
          <div class="frame-wrapper5">
            <div class="mask-group-group">
              <img
                class="mask-group-icon11"
                alt=""
                src="./public/mask-group1@2x.png"
              />

              <img
                class="mask-group-icon12"
                alt=""
                src="./public/mask-group-11@2x.png"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="performance-management-parent">
        <div class="performance-management3">performance management</div>
        <div class="social-media-is">
          Social media is a powerful tool for reaching and engaging your target
          audience. But to make the most of it, you need to create and share
          good content that resonates with them. Good content is content that is
          relevant, valuable, and compelling for your audience. It is content
          that solves their problems, answers their questions, educates them,
          entertains them, or inspires them. Good content also has some
          characteristics that make it more likely to be seen and shared by your
          audience. For example, good content is original and authentic,
          reflecting your brand voice and personality, and showcasing your
          expertise and credibility. It is also visual and interactive, using
          images, videos, infographics, quizzes, polls, or live streams to
          capture attention and encourage participation. Moreover, good content
          is timely and trending, relating to current events, popular topics, or
          seasonal themes that your audience cares about. And finally, good
          content is optimized and targeted, using hashtags, keywords, tags,
          captions, and calls to action to improve visibility and relevance for
          your audience. By creating and sharing good content on social media,
          you can boost and affect your reach in several ways. You can increase
          your followers and fans, attract more people to follow your social
          media accounts and stay updated with your posts. You can improve your
          engagement and loyalty, encourage more likes, comments, shares, and
          clicks from your audience, and build trust and rapport with them. And
          you can drive more traffic and conversions.
        </div>
        <div class="component-2-container" id="frameContainer">
          <button class="component-26">
            <div class="component-2-child2"></div>
            <div class="about-us10">contact us</div>
          </button>
        </div>
      </section>
      <section class="right-section2">
        <div class="importance-of-creating-effecti-parent">
          <div class="importance-of-creating">
            importance of creating effective content for our website
          </div>
          <div class="in-tat-our">
            In tAt our digital marketing agency, we know the importance of
            creating effective content for our website. Content is the backbone
            of our online presence and the main way we communicate with our
            potential and existing clients. We want to share with you how we
            create content that is relevant, valuable, and compelling for our
            audience. To do that, we follow some steps. First, we know our
            audience. We have a clear picture of our ideal client persona, their
            needs, pain points, goals, and interests. We also know how they
            consume content, what kind of tone and style they prefer, and what
            channels they use. We use tools like surveys, analytics, and
            feedback to get a better understanding of our audience and tailor
            our content accordingly. Second, we define our purpose. We know what
            we want to achieve with our content, whether it is to inform,
            educate, entertain, persuade, or inspire our audience. We also know
            what action we want them to take after consuming our content, such
            as contacting us, signing up for our newsletter, downloading our
            e-book, or booking a consultation. Having a clear purpose helps us
            craft our message and call to action. Third, we choose our format.
            Depending on our purpose and audience, we choose from a variety of
            formats for our content.he world of social media, you get what you
            give. It’s important to share industry-related content, “real-time”
            photos, and even user-generated content on a regular basis. At the
            end of the day, social media is a social network. Engaging with
            other brands and your social audience from a personable perspective
            shows people you’re more than just a brand – you’re a person just
            like them.
          </div>
        </div>
        <div class="right-section-inner1">
          <div class="container">
            <img
              class="icon1"
              loading="lazy"
              alt=""
              src="./public/15635327-5618166-11@2x.png"
            />
          </div>
        </div>
      </section>
      <footer class="footer2">
        <div class="home-link-wrapper">
          <div class="home-link">
            <div class="services-title">
              <div class="content-importance">
                <h1 class="lets-connect2">
                  <p class="lets2">let’s</p>
                  <p class="connect2">connect</p>
                </h1>
                <img
                  class="star-icon2"
                  loading="lazy"
                  alt=""
                  src="./public/star.svg"
                />
              </div>
              <div class="duis-aute-irure-dolor-in-repre-wrapper">
                <div class="duis-aute-irure-container8">
                  <p class="duis-aute-irure8">
                    Duis aute irure dolor in reprehendeirure dolor irit in volut
                  </p>
                  <p class="ate-velit-esse4">
                    ate velit esse cillum dolDuis aute irure dolor in ore
                  </p>
                </div>
              </div>
              <div class="our-online-media-parent">
                <div class="our-online-media2">Our Online Media</div>
                <div class="columns-help-support">
                  <img
                    class="download-2-icon2"
                    loading="lazy"
                    alt=""
                    src="./public/download-2@2x.png"
                  />

                  <img
                    class="download-1-12"
                    loading="lazy"
                    alt=""
                    src="./public/download-1-1@2x.png"
                  />

                  <img
                    class="download-2-12"
                    loading="lazy"
                    alt=""
                    src="./public/download-2-1@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="frame-parent8">
              <div class="home-services-blog-events-prod-parent">
                <div class="home-services-blog-events-prod">
                  <div class="colum4">
                    <b class="quick-links2">Quick Links</b>
                    <div class="home26" id="homeText7">Home</div>
                    <div class="services12" id="servicesText1">services</div>
                    <div class="blog5" id="blogText">blog</div>
                    <div class="event2" id="eventText">event</div>
                    <div class="our-products5" id="ourProductsText">
                      our products
                    </div>
                    <div class="contact2" id="contactText">contact</div>
                    <div class="about-us11" id="aboutUsText3">about us</div>
                  </div>
                  <div class="colum5">
                    <b class="links2">Links</b>
                    <div class="help2">Help</div>
                    <div class="support2">support</div>
                    <div class="clients2">clients</div>
                  </div>
                </div>
                <div class="frame-parent9">
                  <div class="newsleller-wrapper">
                    <h3 class="newsleller2">newsleller</h3>
                  </div>
                  <div class="rectangle-parent15">
                    <div class="frame-child23"></div>
                    <input
                      class="enter-your-email2"
                      placeholder="enter your email"
                      type="text"
                    />
                  </div>
                  <div class="subsrcribe-wrapper">
                    <b class="subsrcribe2">subsrcribe</b>
                  </div>
                </div>
              </div>
              <div class="frame-parent10">
                <div class="our-team-container" id="frameContainer">
                  <h3 class="our-team2" id="ourTeamText">our team</h3>
                </div>
                <div class="home-services-blog-event-our-p-parent">
                  <button class="home-services-blog-event-our-p">
                    <img
                      class="home-services-blog-event-our-p-child"
                      alt=""
                      src="./public/data-network@2x.png"
                    />
                  </button>
                  <button class="home-services-blog-event-our-p1">
                    <img
                      class="home-services-blog-event-our-p-item"
                      alt=""
                      src="./public/rectangle-36@2x.png"
                    />
                  </button>
                  <button class="home-services-blog-event-our-p2">
                    <img
                      class="home-services-blog-event-our-p-inner"
                      alt=""
                      src="./public/rectangle-37@2x.png"
                    />
                  </button>
                  <div class="home-services-blog-event-our-p3">
                    <img
                      class="home-services-blog-event-our-p-child1"
                      loading="lazy"
                      alt=""
                      src="./public/group-4570@2x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesContainer = document.getElementById("servicesContainer");
      if (servicesContainer) {
        servicesContainer.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var eventsContainer = document.getElementById("eventsContainer");
      if (eventsContainer) {
        eventsContainer.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsContainer = document.getElementById("ourProductsContainer");
      if (ourProductsContainer) {
        ourProductsContainer.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var blogContainer = document.getElementById("blogContainer");
      if (blogContainer) {
        blogContainer.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var contactsContainer = document.getElementById("contactsContainer");
      if (contactsContainer) {
        contactsContainer.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var buttonContainer = document.getElementById("buttonContainer");
      if (buttonContainer) {
        buttonContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var arrowAltLeftIcon = document.getElementById("arrowAltLeftIcon");
      if (arrowAltLeftIcon) {
        arrowAltLeftIcon.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var component2 = document.getElementById("component2");
      if (component2) {
        component2.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var homeText7 = document.getElementById("homeText7");
      if (homeText7) {
        homeText7.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesText1 = document.getElementById("servicesText1");
      if (servicesText1) {
        servicesText1.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var blogText = document.getElementById("blogText");
      if (blogText) {
        blogText.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var eventText = document.getElementById("eventText");
      if (eventText) {
        eventText.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsText = document.getElementById("ourProductsText");
      if (ourProductsText) {
        ourProductsText.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var contactText = document.getElementById("contactText");
      if (contactText) {
        contactText.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var aboutUsText3 = document.getElementById("aboutUsText3");
      if (aboutUsText3) {
        aboutUsText3.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var ourTeamText = document.getElementById("ourTeamText");
      if (ourTeamText) {
        ourTeamText.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      </script>
  </body>
</html>
