<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="responsive.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok Web:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="photography">
      <section class="hero9">
        <header class="header9">
          <div class="logo10">
            <img
              class="sfy-logo-n-29"
              loading="lazy"
              alt=""
              src="./public/sfy-logo-n-21@2x.png"
            />
          </div>
          <div class="menu-wrapper5">
            <div class="menu9">
              <div class="home83" id="homeContainer">
                <div class="menutitle54">
                  <div class="home84">Home</div>
                  <div class="connect-button">
                    <div class="connect-button-child"></div>
                  </div>
                </div>
              </div>
              <div class="services37" id="servicesContainer">
                <div class="menutitle55">
                  <div class="home85">Services</div>
                  <div class="menutitle-inner18">
                    <div class="frame-child67"></div>
                  </div>
                </div>
              </div>
              <div class="events9" id="eventsContainer">
                <div class="menutitle56">
                  <div class="home86">Events</div>
                  <div class="menutitle-child26"></div>
                </div>
              </div>
              <div class="our-products18" id="ourProductsContainer">
                <div class="menutitle57">
                  <div class="home87">Our Products</div>
                  <div class="menutitle-inner19">
                    <div class="frame-child68"></div>
                  </div>
                </div>
              </div>
              <div class="blog18" id="blogContainer">
                <div class="menutitle58">
                  <div class="home88">Blog</div>
                  <div class="menutitle-child27"></div>
                </div>
              </div>
              <div class="contacts10" id="contactsContainer">
                <div class="menutitle59">
                  <div class="home89">Contact</div>
                  <div class="menutitle-child28"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-inner5">
            <div class="frame-wrapper21">
              <div class="button-wrapper6">
                <div class="button10" id="buttonContainer">
                  <div class="input-field"></div>
                  <div class="about-us41">about us</div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="box">
          <div class="sidenav" id="sidenav">
            <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Home</a>
            <a href="#">Service</a>
            <a href="#">Events</a>
            <a href="#">Our Products</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
            <button class="btn"> <a href="#">About Us</a></button>
          </div>
          <span id="openBtn" style="font-size:30px;cursor:pointer; float: right;" onclick="openNav()">&#9776;</span>
          
        </div>
        <div class="team-container-wrapper">
          <div class="team-container">
            <div class="services-photography-container">
              <p class="services38">services</p>
              <p class="photography-videography2">photography & videography</p>
            </div>
            <div class="quick-links9">
              <div class="home-parent3">
                <div class="home90">home</div>
                <img
                  class="arrow-alt-left-icon9"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-alt-left.svg"
                  id="arrowAltLeftIcon"
                />

                <img
                  class="arrow-alt-lright-icon9"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-alt-lright.svg"
                />

                <div class="services39">services</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="header-logo1">
        <div class="menu-bar">
          <div class="home-button">
            <h1 class="food-photography">food photography</h1>
          </div>
          <div class="photographer-naveen-gautam">
            Photographer Naveen Gautam, who has gained some notoriety, is
            renowned for his intimate and colourful images that have appeared in
            media outlets all over the world. He has been devoting a lot of time
            and effort to producing compelling artwork images for the past 5
            years in the areas of wedding photography, corporate photography,
            family photography, industrial portrait photography, architectural
            photography, interior and exterior photography, people photography,
            food and beverage photography, films, fashion, and product
            photography.
          </div>
        </div>
        <div class="products-button" id="productsButtonContainer">
          <div class="wrapper-mask-group9">
            <img
              class="mask-group-icon13"
              loading="lazy"
              alt=""
              src="./public/mask-group2@2x.png"
            />
          </div>
          <div class="wrapper-mask-group10">
            <img
              class="mask-group-icon14"
              alt=""
              src="./public/mask-group-12@2x.png"
            />
          </div>
          <div class="wrapper-mask-group11">
            <img
              class="mask-group-icon15"
              alt=""
              src="./public/mask-group-21@2x.png"
            />
          </div>
          <div class="wrapper-mask-group12">
            <img
              class="mask-group-icon16"
              alt=""
              src="./public/mask-group-31@2x.png"
            />
          </div>
        </div>
      </section>
      <div class="header-logo2">
        <img
          class="header-logo-child"
          loading="lazy"
          alt=""
          src="./public/vector-214.svg"
        />
      </div>
      <section class="header-logo3">
        <div class="frame-parent45">
          <div class="fashion-photography-wrapper">
            <h1 class="fashion-photography">fashion photography</h1>
          </div>
          <div class="photographer-naveen-gautam1">
            Photographer Naveen Gautam, who has gained some notoriety, is
            renowned for his intimate and colourful images that have appeared in
            media outlets all over the world. He has been devoting a lot of time
            and effort to producing compelling artwork images for the past 5
            years in the areas of wedding photography, corporate photography,
            family photography, industrial portrait photography, architectural
            photography, interior and exterior photography, people photography,
            food and beverage photography, films, fashion, and product
            photography.
          </div>
        </div>
        <div class="wrapper-mask-group-parent7" id="frameContainer1">
          <div class="wrapper-mask-group13">
            <img
              class="mask-group-icon17"
              alt=""
              src="./public/mask-group-41@2x.png"
            />
          </div>
          <div class="wrapper-mask-group14">
            <img
              class="mask-group-icon18"
              alt=""
              src="./public/mask-group-51@2x.png"
            />
          </div>
          <div class="wrapper-mask-group15">
            <img
              class="mask-group-icon19"
              alt=""
              src="./public/mask-group-61@2x.png"
            />
          </div>
          <div class="wrapper-mask-group16">
            <img
              class="mask-group-icon20"
              alt=""
              src="./public/mask-group-71@2x.png"
            />
          </div>
        </div>
      </section>
      <div class="header-logo4">
        <img class="header-logo-item" alt="" src="./public/vector-21-11.svg" />
      </div>
      <section class="header-logo5">
        <div class="frame-parent46">
          <div class="products-photography-wrapper">
            <h1 class="products-photography">Products Photography</h1>
          </div>
          <div class="photographer-naveen-gautam2">
            Photographer Naveen Gautam, who has gained some notoriety, is
            renowned for his intimate and colourful images that have appeared in
            media outlets all over the world. He has been devoting a lot of time
            and effort to producing compelling artwork images for the past 5
            years in the areas of wedding photography, corporate photography,
            family photography, industrial portrait photography, architectural
            photography, interior and exterior photography, people photography,
            food and beverage photography, films, fashion, and product
            photography.
          </div>
        </div>
        <div class="wrapper-mask-group-parent8" id="frameContainer1">
          <div class="wrapper-mask-group17">
            <img
              class="mask-group-icon21"
              alt=""
              src="./public/mask-group-81@2x.png"
            />
          </div>
          <div class="wrapper-mask-group18">
            <img
              class="mask-group-icon22"
              alt=""
              src="./public/mask-group-91@2x.png"
            />
          </div>
          <div class="wrapper-mask-group19">
            <img
              class="mask-group-icon23"
              alt=""
              src="./public/mask-group-10@2x.png"
            />
          </div>
          <div class="wrapper-mask-group20">
            <img
              class="mask-group-icon24"
              alt=""
              src="./public/mask-group-111@2x.png"
            />
          </div>
        </div>
      </section>
      <div class="header-logo6">
        <img class="header-logo-inner" alt="" src="./public/vector-21-2.svg" />
      </div>
      <section class="header-logo7">
        <div class="frame-parent47">
          <div class="food-photography-wrapper">
            <h1 class="food-photography1">food photography</h1>
          </div>
          <div class="photographer-naveen-gautam3">
            Photographer Naveen Gautam, who has gained some notoriety, is
            renowned for his intimate and colourful images that have appeared in
            media outlets all over the world. He has been devoting a lot of time
            and effort to producing compelling artwork images for the past 5
            years in the areas of wedding photography, corporate photography,
            family photography, industrial portrait photography, architectural
            photography, interior and exterior photography, people photography,
            food and beverage photography, films, fashion, and product
            photography.
          </div>
        </div>
        <div class="wrapper-mask-group-parent9" id="frameContainer1">
          <div class="wrapper-mask-group21">
            <img
              class="mask-group-icon25"
              alt=""
              src="./public/mask-group2@2x.png"
            />
          </div>
          <div class="wrapper-mask-group22">
            <img
              class="mask-group-icon26"
              alt=""
              src="./public/mask-group-12@2x.png"
            />
          </div>
          <div class="wrapper-mask-group23">
            <img
              class="mask-group-icon27"
              alt=""
              src="./public/mask-group-21@2x.png"
            />
          </div>
          <div class="wrapper-mask-group24">
            <img
              class="mask-group-icon28"
              alt=""
              src="./public/mask-group-31@2x.png"
            />
          </div>
        </div>
      </section>
      <footer class="footer9">
        <div class="download-button1">
          <div class="social-media-icon">
            <div class="frame-parent48">
              <div class="lets-connect-container">
                <h1 class="lets-connect9">
                  <p class="lets9">let’s</p>
                  <p class="connect9">connect</p>
                </h1>
                <img
                  class="star-icon9"
                  loading="lazy"
                  alt=""
                  src="./public/star.svg"
                />
              </div>
              <div class="duis-aute-irure-dolor-in-repre-wrapper4">
                <div class="duis-aute-irure-container15">
                  <p class="duis-aute-irure15">
                    Duis aute irure dolor in reprehendeirure dolor irit in volut
                  </p>
                  <p class="ate-velit-esse11">
                    ate velit esse cillum dolDuis aute irure dolor in ore
                  </p>
                </div>
              </div>
              <div class="our-online-media-parent3">
                <div class="our-online-media9">Our Online Media</div>
                <div class="download-2-parent2">
                  <img
                    class="download-2-icon9"
                    alt=""
                    src="./public/download-2@2x.png"
                  />

                  <img
                    class="download-1-19"
                    loading="lazy"
                    alt=""
                    src="./public/download-1-1@2x.png"
                  />

                  <img
                    class="download-2-19"
                    alt=""
                    src="./public/download-2-1@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="home-image-parent">
              <div class="home-image">
                <div class="colum-parent2">
                  <div class="colum19">
                    <b class="quick-links10">Quick Links</b>
                    <div class="home91" id="homeText7">Home</div>
                    <div class="services40" id="servicesText1">services</div>
                    <div class="blog19" id="blogText">blog</div>
                    <div class="event10" id="eventText">event</div>
                    <div class="our-products19" id="ourProductsText">
                      our products
                    </div>
                    <div class="contact9" id="contactText">contact</div>
                    <div class="about-us42" id="aboutUsText1">about us</div>
                  </div>
                  <div class="colum20">
                    <b class="links9">Links</b>
                    <div class="help9">Help</div>
                    <div class="support9">support</div>
                    <div class="clients9">clients</div>
                  </div>
                </div>
                <div class="frame-parent49">
                  <div class="newsleller-wrapper4">
                    <h3 class="newsleller9">newsleller</h3>
                  </div>
                  <div class="rectangle-parent20">
                    <div class="frame-child69"></div>
                    <input
                      class="enter-your-email10"
                      placeholder="enter your email"
                      type="text"
                    />
                  </div>
                  <div class="subsrcribe-wrapper4">
                    <b class="subsrcribe9">subsrcribe</b>
                  </div>
                </div>
              </div>
              <div class="frame-parent50">
                <div class="our-team-wrapper5" id="frameContainer">
                  <h3 class="our-team9" id="ourTeamText">our team</h3>
                </div>
                <div class="frame-parent51">
                  <button class="rectangle-wrapper13">
                    <img
                      class="frame-child70"
                      alt=""
                      src="./public/data-network@2x.png"
                    />
                  </button>
                  <button class="rectangle-wrapper14">
                    <img
                      class="frame-child71"
                      alt=""
                      src="./public/rectangle-36@2x.png"
                    />
                  </button>
                  <button class="rectangle-wrapper15">
                    <img
                      class="frame-child72"
                      alt=""
                      src="./public/rectangle-37@2x.png"
                    />
                  </button>
                  <div class="frame-wrapper22">
                    <img
                      class="frame-child73"
                      loading="lazy"
                      alt=""
                      src="./public/group-4570@2x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>

function openNav() {
      document.getElementById("sidenav").style.width = "250px";
      document.getElementById("main").style.marginRight = "250px";
      document.getElementById("openBtn").style.display = "none"; // Hide the open button
    }


    function closeNav() {
      document.getElementById("sidenav").style.width = "0";
      document.getElementById("main").style.marginRight = "0";
      document.getElementById("openBtn").style.display = "block"; // Show the open button
    }




      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesContainer = document.getElementById("servicesContainer");
      if (servicesContainer) {
        servicesContainer.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var eventsContainer = document.getElementById("eventsContainer");
      if (eventsContainer) {
        eventsContainer.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsContainer = document.getElementById("ourProductsContainer");
      if (ourProductsContainer) {
        ourProductsContainer.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var blogContainer = document.getElementById("blogContainer");
      if (blogContainer) {
        blogContainer.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var contactsContainer = document.getElementById("contactsContainer");
      if (contactsContainer) {
        contactsContainer.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var buttonContainer = document.getElementById("buttonContainer");
      if (buttonContainer) {
        buttonContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var arrowAltLeftIcon = document.getElementById("arrowAltLeftIcon");
      if (arrowAltLeftIcon) {
        arrowAltLeftIcon.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var productsButtonContainer = document.getElementById(
        "productsButtonContainer"
      );
      if (productsButtonContainer) {
        productsButtonContainer.addEventListener("click", function (e) {
          window.location.href = "./details.html";
        });
      }
      
      var frameContainer1 = document.getElementById("frameContainer1");
      if (frameContainer1) {
        frameContainer1.addEventListener("click", function (e) {
          window.location.href = "./details.html";
        });
      }
      
      var homeText7 = document.getElementById("homeText7");
      if (homeText7) {
        homeText7.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesText1 = document.getElementById("servicesText1");
      if (servicesText1) {
        servicesText1.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var blogText = document.getElementById("blogText");
      if (blogText) {
        blogText.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var eventText = document.getElementById("eventText");
      if (eventText) {
        eventText.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsText = document.getElementById("ourProductsText");
      if (ourProductsText) {
        ourProductsText.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var contactText = document.getElementById("contactText");
      if (contactText) {
        contactText.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var aboutUsText1 = document.getElementById("aboutUsText1");
      if (aboutUsText1) {
        aboutUsText1.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var ourTeamText = document.getElementById("ourTeamText");
      if (ourTeamText) {
        ourTeamText.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      </script>
  </body>
</html>
