<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok Web:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="seo">
      <section class="hero7">
        <header class="header7">
          <div class="logo8">
            <img
              class="sfy-logo-n-27"
              loading="lazy"
              alt=""
              src="./public/sfy-logo-n-2@2x.png"
            />
          </div>
          <div class="menu-wrapper3">
            <div class="menu7">
              <div class="home65" id="homeContainer">
                <div class="menutitle42">
                  <div class="home66">Home</div>
                  <div class="menutitle-inner13">
                    <div class="frame-child54"></div>
                  </div>
                </div>
              </div>
              <div class="services29" id="servicesContainer">
                <div class="menutitle43">
                  <div class="home67">Services</div>
                  <div class="menutitle-inner14">
                    <div class="frame-child55"></div>
                  </div>
                </div>
              </div>
              <div class="events7" id="eventsContainer">
                <div class="menutitle44">
                  <div class="home68">Events</div>
                  <div class="menutitle-child20"></div>
                </div>
              </div>
              <div class="our-products14" id="ourProductsContainer">
                <div class="menutitle45">
                  <div class="home69">Our Products</div>
                  <div class="menutitle-inner15">
                    <div class="frame-child56"></div>
                  </div>
                </div>
              </div>
              <div class="blog14" id="blogContainer">
                <div class="menutitle46">
                  <div class="home70">Blog</div>
                  <div class="menutitle-child21"></div>
                </div>
              </div>
              <div class="contacts8" id="contactsContainer">
                <div class="menutitle47">
                  <div class="home71">Contact</div>
                  <div class="menutitle-child22"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="search-optimization-wrapper">
            <div class="search-optimization">
              <div class="button-wrapper4">
                <div class="button8" id="buttonContainer">
                  <div class="button-child2"></div>
                  <div class="about-us31">about us</div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="hero-inner6">
          <div class="services-search-engine-optimiz-parent">
            <div class="services-search-engine-container">
              <p class="services30">services</p>
              <p class="search-engine-optimization2">
                search engine optimization
              </p>
            </div>
            <div class="subscribe-label-wrapper">
              <div class="subscribe-label1">
                <div class="home72">home</div>
                <img
                  class="arrow-alt-left-icon7"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-alt-left.svg"
                  id="arrowAltLeftIcon"
                />

                <img
                  class="arrow-alt-lright-icon7"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-alt-lright.svg"
                />

                <div class="services31">services</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="frame-parent37">
        <div class="frame-wrapper15">
          <div class="lorem-ipsum-group">
            <div class="lorem-ipsum1">lorem ipsum</div>
            <h1 class="seo-services">SEO Services</h1>
            <div class="with-more-than">
              With more than 3 years of experience in the industry and the
              greatest SEO services, Digital Cappuccino, the greatest SEO
              Agency, has established a reputation for itself. We started off as
              a small SEO marketing company and have grown into a digital
              marketing titan with more than 100 current clients. You may count
              on our extensive SEO expertise to improve your internet
              visibility. We would be pleased to have the opportunity to discuss
              the potential advantages of investing in SEO for your company with
              you.
            </div>
            <button class="component-218">
              <div class="component-2-child12"></div>
              <div class="about-us32">contact us</div>
            </button>
          </div>
        </div>
        <div class="wrapper4">
          <img
            class="icon8"
            loading="lazy"
            alt=""
            src="./public/15635327-5618166-15@2x.png"
          />
        </div>
      </section>
      <section class="services-s-e-o-parent">
        <div class="services-s-e-o">
          <div class="wrapper-group-45758">
            <img
              class="wrapper-group-4575-child6"
              loading="lazy"
              alt=""
              src="./public/group-45754@2x.png"
            />
          </div>
        </div>
        <div class="seo-parent">
          <div class="seo1">seo</div>
          <h1 class="report-tracking-container">
            <p class="report-tracking">Report & Tracking</p>
            <p class="blank-line4">&nbsp;</p>
            <p class="blank-line5">&nbsp;</p>
          </h1>
          <div class="the-method-of-container">
            <p class="the-method-of">
              The method of assessing a campaign's effectiveness and development
              is report and tracking. Before starting a client's campaign,
              Digital Cappuccino, the Best SEO Company, has an SEO strategy in
              place for best results. In order to do this, we first direct our
              efforts by asking a number of questions of our clients, after
              which we tailor the approach to achieve the greatest results.
            </p>
          </div>
          <button class="component-219">
            <div class="component-2-child13"></div>
            <div class="about-us33">contact us</div>
          </button>
        </div>
      </section>
      <section class="right-section6">
        <div class="wrapper5">
          <img
            class="icon9"
            alt=""
            src="./public/15635327-5618166-1-12@2x.png"
          />
        </div>
        <div class="right-section-inner5">
          <div class="lorem-parent2">
            <div class="lorem4">lorem</div>
            <h1 class="local-seo">Local SEO</h1>
            <div class="being-local-seo">
              Being local SEO experts, we are aware of the many challenges and
              opportunities associated with advertising a business in a certain
              area of the country. In order to help you achieve the top
              positions in Google's local search results, which will increase
              exposure and sales, we employ our extensive knowledge and
              expertise.
            </div>
            <button class="component-220">
              <div class="component-2-child14"></div>
              <div class="about-us34">contact us</div>
            </button>
          </div>
        </div>
      </section>
      <div class="footer-container">
        <img
          class="link-column-home"
          loading="lazy"
          alt=""
          src="./public/vector-213.svg"
        />
      </div>
      <section class="frame-parent38">
        <div class="lorem-ipsum-container">
          <div class="lorem-ipsum2">lorem ipsum</div>
          <h1 class="international-seo">
            <p class="international-seo1">International SEO</p>
          </h1>
          <div class="we-provide-interactive1">
            We provide interactive & engaging custom videos & posts, designed to
            Influence Facebook Network to ignite conversion & viral growth.
            Every Promotional Post is tailormade based on the target audience
            and business goals.
          </div>
        </div>
        <div class="wrapper-group-4575-wrapper5">
          <div class="wrapper-group-45759">
            <img
              class="wrapper-group-4575-child7"
              alt=""
              src="./public/group-4575-13@2x.png"
            />
          </div>
        </div>
      </section>
      <footer class="footer7">
        <div class="email-subscribe-form">
          <div class="c-t-a-button">
            <div class="social-icons-parent">
              <div class="social-icons">
                <h1 class="lets-connect7">
                  <p class="lets7">let’s</p>
                  <p class="connect7">connect</p>
                </h1>
                <img
                  class="star-icon7"
                  loading="lazy"
                  alt=""
                  src="./public/star.svg"
                />
              </div>
              <div class="newsletter-column">
                <div class="duis-aute-irure-container13">
                  <p class="duis-aute-irure13">
                    Duis aute irure dolor in reprehendeirure dolor irit in volut
                  </p>
                  <p class="ate-velit-esse9">
                    ate velit esse cillum dolDuis aute irure dolor in ore
                  </p>
                </div>
              </div>
              <div class="our-online-media-parent2">
                <div class="our-online-media7">Our Online Media</div>
                <div class="download-2-container">
                  <img
                    class="download-2-icon7"
                    loading="lazy"
                    alt=""
                    src="./public/download-2@2x.png"
                  />

                  <img
                    class="download-1-17"
                    loading="lazy"
                    alt=""
                    src="./public/download-1-1@2x.png"
                  />

                  <img
                    class="download-2-17"
                    loading="lazy"
                    alt=""
                    src="./public/download-2-1@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="help-support-clients">
              <div class="quick-links-column-help">
                <div class="info-content-colum">
                  <div class="colum15">
                    <b class="quick-links7">Quick Links</b>
                    <div class="home73" id="homeText7">Home</div>
                    <div class="services32" id="servicesText1">services</div>
                    <div class="blog15" id="blogText">blog</div>
                    <div class="event7" id="eventText">event</div>
                    <div class="our-products15" id="ourProductsText">
                      our products
                    </div>
                    <div class="contact7" id="contactText">contact</div>
                    <div class="about-us35" id="aboutUsText4">about us</div>
                  </div>
                  <div class="colum16">
                    <b class="links7">Links</b>
                    <div class="help7">Help</div>
                    <div class="support7">support</div>
                    <div class="clients7">clients</div>
                  </div>
                </div>
                <div class="frame-parent39">
                  <div class="newsleller-wrapper2">
                    <h3 class="newsleller7">newsleller</h3>
                  </div>
                  <div class="enter-your-email-container-parent">
                    <div class="enter-your-email-container"></div>
                    <input
                      class="enter-your-email8"
                      placeholder="enter your email"
                      type="text"
                    />
                  </div>
                  <div class="subsrcribe-wrapper2">
                    <b class="subsrcribe7">subsrcribe</b>
                  </div>
                </div>
              </div>
              <div class="frame-parent40">
                <div class="our-team-wrapper4" id="frameContainer">
                  <h3 class="our-team7" id="ourTeamText">our team</h3>
                </div>
                <div class="frame-parent41">
                  <button class="rectangle-wrapper7">
                    <img
                      class="frame-child57"
                      alt=""
                      src="./public/data-network@2x.png"
                    />
                  </button>
                  <button class="rectangle-wrapper8">
                    <img
                      class="frame-child58"
                      alt=""
                      src="./public/rectangle-36@2x.png"
                    />
                  </button>
                  <button class="rectangle-wrapper9">
                    <img
                      class="frame-child59"
                      alt=""
                      src="./public/rectangle-37@2x.png"
                    />
                  </button>
                  <div class="frame-wrapper16">
                    <img
                      class="frame-child60"
                      loading="lazy"
                      alt=""
                      src="./public/group-4570@2x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesContainer = document.getElementById("servicesContainer");
      if (servicesContainer) {
        servicesContainer.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var eventsContainer = document.getElementById("eventsContainer");
      if (eventsContainer) {
        eventsContainer.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsContainer = document.getElementById("ourProductsContainer");
      if (ourProductsContainer) {
        ourProductsContainer.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var blogContainer = document.getElementById("blogContainer");
      if (blogContainer) {
        blogContainer.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var contactsContainer = document.getElementById("contactsContainer");
      if (contactsContainer) {
        contactsContainer.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var buttonContainer = document.getElementById("buttonContainer");
      if (buttonContainer) {
        buttonContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var arrowAltLeftIcon = document.getElementById("arrowAltLeftIcon");
      if (arrowAltLeftIcon) {
        arrowAltLeftIcon.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var homeText7 = document.getElementById("homeText7");
      if (homeText7) {
        homeText7.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesText1 = document.getElementById("servicesText1");
      if (servicesText1) {
        servicesText1.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var blogText = document.getElementById("blogText");
      if (blogText) {
        blogText.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var eventText = document.getElementById("eventText");
      if (eventText) {
        eventText.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsText = document.getElementById("ourProductsText");
      if (ourProductsText) {
        ourProductsText.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var contactText = document.getElementById("contactText");
      if (contactText) {
        contactText.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var aboutUsText4 = document.getElementById("aboutUsText4");
      if (aboutUsText4) {
        aboutUsText4.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var ourTeamText = document.getElementById("ourTeamText");
      if (ourTeamText) {
        ourTeamText.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      </script>
  </body>
</html>
