<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok Web:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="smm">
      <section class="hero1">
        <header class="header1">
          <div class="logo1">
            <img
              class="sfy-logo-n-21"
              loading="lazy"
              alt=""
              src="./public/sfy-logo-n-2@2x.png"
            />
          </div>
          <div class="menu-container">
            <div class="menu1">
              <div class="home9" id="homeContainer">
                <div class="menutitle6">
                  <div class="home10">Home</div>
                  <div class="sine-wave-generator-wrapper">
                    <div class="sine-wave-generator"></div>
                  </div>
                </div>
              </div>
              <div class="services5" id="servicesContainer">
                <div class="menutitle7">
                  <div class="home11">Services</div>
                  <div class="menutitle-inner1">
                    <div class="frame-child16"></div>
                  </div>
                </div>
              </div>
              <div class="events1" id="eventsContainer">
                <div class="menutitle8">
                  <div class="home12">Events</div>
                  <div class="menutitle-child2"></div>
                </div>
              </div>
              <div class="our-products2" id="ourProductsContainer">
                <div class="menutitle9">
                  <div class="home13">Our Products</div>
                  <div class="menutitle-inner2">
                    <div class="frame-child17"></div>
                  </div>
                </div>
              </div>
              <div class="blog2" id="blogContainer">
                <div class="menutitle10">
                  <div class="home14">Blog</div>
                  <div class="menutitle-child3"></div>
                </div>
              </div>
              <div class="contacts1" id="contactsContainer">
                <div class="menutitle11">
                  <div class="home15">Contact</div>
                  <div class="menutitle-child4"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="cosine-wave-generator">
            <div class="tan-function">
              <div class="a-sin-function">
                <div class="button1" id="buttonContainer">
                  <div class="a-tan-function"></div>
                  <div class="about-us2">about us</div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="hero-inner1">
          <div class="services-social-media-marketin-parent">
            <div class="services-social-media-container">
              <p class="services6">services</p>
              <p class="social-media-marketing">social media marketing</p>
            </div>
            <div class="frame-wrapper1">
              <div class="home-group">
                <div class="home16">home</div>
                <img
                  class="arrow-alt-left-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-alt-left.svg"
                  id="arrowAltLeftIcon"
                />

                <img
                  class="arrow-alt-lright-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-alt-lright.svg"
                />

                <div class="services7">services</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="hyperbolic-function">
        <div class="mask-group">
          <img
            class="best-digital-growth-marketing"
            loading="lazy"
            alt=""
            src="./public/best-digital-growth-marketing-company-in-india---amura-1@2x.png"
          />
        </div>
        <div class="rectangular-function">
          <div class="social-media-management-container">
            <p class="social-media-management2">SOCIAL MEDIA MANAGEMENT</p>
          </div>
          <h2 class="what-is-social-container">
            <p class="what-is-social">What Is Social</p>
            <p class="media-marketing">Media Marketing?</p>
          </h2>
          <div class="duis-aute-irure-container6">
            <p class="duis-aute-irure6">
              Duis aute irure dolor in reprehendeirure dolor irit in volut
            </p>
            <p class="ate-velit-esse2">
              ate velit esse cillum dolDuis aute irure dolor in ore
            </p>
            <p class="accu-santium-fugiat1">
              accu santium fugiat nulla pariatur.s
            </p>
          </div>
          <div class="rectangular-function-inner">
            <div class="mask-group-parent">
              <img
                class="mask-group-icon10"
                loading="lazy"
                alt=""
                src="./public/mask-group-9@2x.png"
              />

              <div class="work-completed-group">
                <b class="work-completed1">Work Completed</b>
                <b class="b1">86’500+</b>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="media-container">
        <div class="list-item">
          <div class="social-media-marketing1">social media marketing</div>
          <h2 class="what-is-social-container1">
            <p class="what-is-social1">What is Social</p>
            <p class="media-marketing-used">Media Marketing used for?</p>
          </h2>
          <div class="people-and-brands">
            People and brands use social media for different purposes. People
            use different social media platforms to connect with each other,
            find new friends, follow the brands they like, share their
            experiences or moments in life, grow the number of their followers
            to become an influencer, and more. Brands use social media to
            connect with their audience, create shareable content to increase
            the brand’s awareness, drive traffic, and more.
          </div>
          <div class="bar-chart-parent">
            <div class="bar-chart">
              <div class="pie-chart">
                <div class="column-chart-parent">
                  <button class="column-chart">
                    <img
                      class="shopify-1-icon"
                      alt=""
                      src="./public/shopify-1@2x.png"
                    />
                  </button>
                  <button class="column-chart1">
                    <img
                      class="walmart-logo-1-icon"
                      alt=""
                      src="./public/walmartlogo-1@2x.png"
                    />
                  </button>
                  <button class="column-chart2">
                    <img
                      class="amazon-logo-1-icon"
                      alt=""
                      src="./public/amazonlogo-1@2x.png"
                    />
                  </button>
                  <button class="column-chart3">
                    <img
                      class="d05a1-c52a-4f5e-abf2-0d49d4c0d-icon"
                      alt=""
                      src="./public/296d05a1c52a4f5eabf20d49d4c0d6b3-1@2x.png"
                    />
                  </button>
                </div>
              </div>
            </div>
            <div class="frame-wrapper2">
              <div class="frame-wrapper3">
                <div class="frame-parent4">
                  <div class="frame-parent5">
                    <div class="ellipse-container">
                      <div class="frame-child18"></div>
                      <img
                        class="images-photoroom-1-icon"
                        loading="lazy"
                        alt=""
                        src="./public/imagesphotoroom-1@2x.png"
                      />
                    </div>
                    <b class="customer-support">customer support</b>
                  </div>
                  <div class="frame-parent6">
                    <div class="ellipse-parent1">
                      <div class="frame-child19"></div>
                      <img
                        class="usb-1-icon"
                        loading="lazy"
                        alt=""
                        src="./public/usb-1@2x.png"
                      />
                    </div>
                    <b class="individual-approach">individual approach</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="component-2-wrapper" id="frameContainer1">
            <button class="component-2">
              <div class="component-2-child"></div>
              <div class="about-us3">contact us</div>
            </button>
          </div>
        </div>
        <div class="progress-bar">
          <div class="progress-bar-inner">
            <img
              class="frame-child20"
              loading="lazy"
              alt=""
              src="./public/group-4575@2x.png"
            />
          </div>
        </div>
      </section>
      <section class="right-section">
        <div class="output-set-wrapper">
          <img
            class="output-set-icon"
            loading="lazy"
            alt=""
            src="./public/15635327-5618166-1@2x.png"
          />
        </div>
        <div class="right-section-inner">
          <div class="lorem-parent">
            <div class="lorem">lorem</div>
            <h2 class="what-are-social">What are Social Media Campaigns?</h2>
            <div class="a-social-media">
              A social media campaign is a short-term or long-term coordinated
              plan of creative actions that can involve one or multiple social
              media platforms to reach specific goals. Successful social media
              campaigns go viral becoming a way to immediately recognize the
              brand and stand out from its competitors.
            </div>
            <button class="for-loop" id="forLoop">
              <div class="component-21">
                <div class="sinusoid-function"></div>
                <div class="about-us4">contact us</div>
              </div>
            </button>
          </div>
        </div>
      </section>
      <div class="smm-inner">
        <img
          class="vector-icon"
          loading="lazy"
          alt=""
          src="./public/vector-21.svg"
        />
      </div>
      <section class="right-section1">
        <div class="right-section-child">
          <div class="promotional-content-parent">
            <div class="promotional-content">promotional content</div>
            <h2 class="how-often-should">
              How often should I post non-self-promotional content?
            </h2>
            <div class="in-the-world">
              In the world of social media, you get what you give. It’s
              important to share industry-related content, “real-time” photos,
              and even user-generated content on a regular basis. At the end of
              the day, social media is a social network. Engaging with other
              brands and your social audience from a personable perspective
              shows people you’re more than just a brand – you’re a person just
              like them.
            </div>
          </div>
        </div>
        <div class="wrapper">
          <img class="icon" alt="" src="./public/15635327-5618166-1-1@2x.png" />
        </div>
      </section>
      <section class="flex-container">
        <div class="grid-container">
          <div class="wrapper-group-4575">
            <img
              class="wrapper-group-4575-child"
              alt=""
              src="./public/group-4575-1@2x.png"
            />
          </div>
        </div>
        <div class="campaigns-parent">
          <div class="campaigns">campaigns</div>
          <h2 class="what-are-the">
            What are the benefits linked to social media?
          </h2>
          <div class="social-media-has">
            Social media has changed the way businesses communicate with
            consumers. It’s no longer necessary for a consumer to pick up the
            phone to learn about your products or services. Potential clients
            can now find all the information they need with just the click of a
            mouse. Creating a social media presence for your business allows you
            to connect with consumers in a more personal way than traditional
            media allowed for. It also allows you to meet them on their terms
            and in the location they feel most comfortable spending time.
          </div>
          <button class="component-23" id="component21">
            <div class="component-2-item"></div>
            <div class="about-us5">contact us</div>
          </button>
        </div>
      </section>
      <section class="fifth-section1">
        <div class="frame-parent7">
          <div class="benefits-parent">
            <div class="benefits">benefits</div>
            <h2 class="benefits-of-social">
              Benefits of Social Media Marketing?
            </h2>
            <div class="increases-brand-recognition-container">
              <ul class="increases-brand-recognition-an">
                <li class="increases-brand-recognition">
                  Increases brand recognition and awareness
                </li>
                <li class="makes-your-brand">
                  Makes Your Brand the Topic of Conversation
                </li>
                <li class="helps-to-ensure">
                  Helps to ensure You Know the Interests of Your Target
                  Customers
                </li>
                <li>Helps You Collect Information About Your Audience</li>
              </ul>
            </div>
            <button class="component-24" id="component22">
              <div class="component-2-inner"></div>
              <div class="about-us6">contact us</div>
            </button>
          </div>
          <div class="mask-group1">
            <div class="best-digital-growth-marketing-wrapper">
              <img
                class="best-digital-growth-marketing1"
                alt=""
                src="./public/best-digital-growth-marketing-company-in-india---amura-1-1@2x.png"
              />
            </div>
          </div>
        </div>
      </section>
      <footer class="footer1">
        <div class="value-adjuster">
          <div class="string-transformer">
            <div class="input-combiner">
              <div class="output-divider">
                <h1 class="lets-connect1">
                  <p class="lets1">let’s</p>
                  <p class="connect1">connect</p>
                </h1>
                <img
                  class="star-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/star.svg"
                />
              </div>
              <div class="search">
                <div class="duis-aute-irure-container7">
                  <p class="duis-aute-irure7">
                    Duis aute irure dolor in reprehendeirure dolor irit in volut
                  </p>
                  <p class="ate-velit-esse3">
                    ate velit esse cillum dolDuis aute irure dolor in ore
                  </p>
                </div>
              </div>
              <div class="remove">
                <div class="our-online-media1">Our Online Media</div>
                <div class="merge">
                  <img
                    class="download-2-icon1"
                    loading="lazy"
                    alt=""
                    src="./public/download-2@2x.png"
                  />

                  <img
                    class="download-1-11"
                    loading="lazy"
                    alt=""
                    src="./public/download-1-1@2x.png"
                  />

                  <img
                    class="download-2-11"
                    loading="lazy"
                    alt=""
                    src="./public/download-2-1@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="convert">
              <div class="map">
                <div class="reduce">
                  <div class="colum2">
                    <b class="quick-links1">Quick Links</b>
                    <div class="home17" id="homeText7">Home</div>
                    <div class="services8" id="servicesText1">services</div>
                    <div class="blog3" id="blogText">blog</div>
                    <div class="event1" id="eventText">event</div>
                    <div class="our-products3" id="ourProductsText">
                      our products
                    </div>
                    <div class="contact1" id="contactText">contact</div>
                    <div class="about-us7" id="aboutUsText5">about us</div>
                  </div>
                  <div class="colum3">
                    <b class="links1">Links</b>
                    <div class="help1">Help</div>
                    <div class="support1">support</div>
                    <div class="clients1">clients</div>
                  </div>
                </div>
                <div class="tree">
                  <div class="graph">
                    <b class="newsleller1">newsleller</b>
                  </div>
                  <div class="array-parent">
                    <div class="array"></div>
                    <input
                      class="enter-your-email1"
                      placeholder="enter your email"
                      type="text"
                    />
                  </div>
                  <div class="stacked">
                    <b class="subsrcribe1">subsrcribe</b>
                  </div>
                </div>
              </div>
              <div class="linked">
                <div class="our-team-wrapper" id="frameContainer">
                  <b class="our-team1" id="ourTeamText">our team</b>
                </div>
                <div class="aligned-parent">
                  <button class="aligned">
                    <img
                      class="positioned-icon"
                      alt=""
                      src="./public/data-network@2x.png"
                    />
                  </button>
                  <button class="aligned1">
                    <img
                      class="aligned-child"
                      alt=""
                      src="./public/rectangle-36@2x.png"
                    />
                  </button>
                  <button class="aligned2">
                    <img
                      class="aligned-item"
                      alt=""
                      src="./public/rectangle-37@2x.png"
                    />
                  </button>
                  <div class="aligned3">
                    <img
                      class="aligned-inner"
                      loading="lazy"
                      alt=""
                      src="./public/group-4570@2x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesContainer = document.getElementById("servicesContainer");
      if (servicesContainer) {
        servicesContainer.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var eventsContainer = document.getElementById("eventsContainer");
      if (eventsContainer) {
        eventsContainer.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsContainer = document.getElementById("ourProductsContainer");
      if (ourProductsContainer) {
        ourProductsContainer.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var blogContainer = document.getElementById("blogContainer");
      if (blogContainer) {
        blogContainer.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var contactsContainer = document.getElementById("contactsContainer");
      if (contactsContainer) {
        contactsContainer.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var buttonContainer = document.getElementById("buttonContainer");
      if (buttonContainer) {
        buttonContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var arrowAltLeftIcon = document.getElementById("arrowAltLeftIcon");
      if (arrowAltLeftIcon) {
        arrowAltLeftIcon.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var frameContainer1 = document.getElementById("frameContainer1");
      if (frameContainer1) {
        frameContainer1.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var forLoop = document.getElementById("forLoop");
      if (forLoop) {
        forLoop.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var component21 = document.getElementById("component21");
      if (component21) {
        component21.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var component22 = document.getElementById("component22");
      if (component22) {
        component22.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var homeText7 = document.getElementById("homeText7");
      if (homeText7) {
        homeText7.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesText1 = document.getElementById("servicesText1");
      if (servicesText1) {
        servicesText1.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var blogText = document.getElementById("blogText");
      if (blogText) {
        blogText.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var eventText = document.getElementById("eventText");
      if (eventText) {
        eventText.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsText = document.getElementById("ourProductsText");
      if (ourProductsText) {
        ourProductsText.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var contactText = document.getElementById("contactText");
      if (contactText) {
        contactText.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var aboutUsText5 = document.getElementById("aboutUsText5");
      if (aboutUsText5) {
        aboutUsText5.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var ourTeamText = document.getElementById("ourTeamText");
      if (ourTeamText) {
        ourTeamText.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      </script>
  </body>
</html>
