<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="responsive.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Istok Web:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="web-development2">
      <section class="hero4">
        <header class="header4">
          <div class="logo4">
            <img
              class="sfy-logo-n-24"
              loading="lazy"
              alt=""
              src="./public/sfy-logo-n-2@2x.png"
            />
          </div>
          <div class="menu-wrapper2">
            <div class="menu4">
              <div class="home36" id="homeContainer">
                <div class="menutitle24">
                  <div class="home37">Home</div>
                  <div class="button-instance">
                    <div class="button-instance-child"></div>
                  </div>
                </div>
              </div>
              <div class="services17" id="servicesContainer">
                <div class="menutitle25">
                  <div class="home38">Services</div>
                  <div class="menutitle-inner7">
                    <div class="frame-child30"></div>
                  </div>
                </div>
              </div>
              <div class="events4" id="eventsContainer">
                <div class="menutitle26">
                  <div class="home39">Events</div>
                  <div class="menutitle-child11"></div>
                </div>
              </div>
              <div class="our-products8" id="ourProductsContainer">
                <div class="menutitle27">
                  <div class="home40">Our Products</div>
                  <div class="menutitle-inner8">
                    <div class="frame-child31"></div>
                  </div>
                </div>
              </div>
              <div class="blog8" id="blogContainer">
                <div class="menutitle28">
                  <div class="home41">Blog</div>
                  <div class="menutitle-child12"></div>
                </div>
              </div>
              <div class="contacts4" id="contactsContainer">
                <div class="menutitle29">
                  <div class="home42">Contact</div>
                  <div class="menutitle-child13"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-inner1">
            <div class="frame-wrapper9">
              <div class="button-wrapper1">
                <div class="button4" id="buttonContainer">
                  <div class="button-inner"></div>
                  <div class="about-us16">about us</div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="component-instance">
          <div class="services-web-development-parent">
            <div class="services-web-development-container">
              <p class="services18">services</p>
              <p class="web-development3">web development</p>
            </div>
            <div class="individualised-web-design-wrapper">
              <div class="individualised-web-design">
                <div class="home43">home</div>
                <img
                  class="arrow-alt-left-icon4"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-alt-left.svg"
                  id="arrowAltLeftIcon"
                />

                <img
                  class="arrow-alt-lright-icon4"
                  loading="lazy"
                  alt=""
                  src="./public/arrow-alt-lright.svg"
                />

                <div class="services19">services</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="right-section4">
        <div class="wrapper2">
          <img
            class="icon4"
            loading="lazy"
            alt=""
            src="./public/15635327-5618166-13@2x.png"
          />
        </div>
        <div class="right-section-inner3">
          <div class="lorem-group">
            <div class="lorem1">lorem</div>
            <h1 class="web-design-and">Web Design And Development Services</h1>
            <div class="the-modern-storefront-container">
              <p class="the-modern-storefront">
                The modern storefront is a website. Being the first item that
                potential buyers encounter, it is an essential component of
                marketing. People can learn more about your company and the
                products and services it provides by visiting your website. The
                better the site design and development, the more likely it is
                that visitors will interact with your company and finally make a
                purchase. Every business needs a website to be successful.
                Simply put, a visitor will only give your website a brief moment
                of their time before moving on to the next.
              </p>
              <p class="blank-line">&nbsp;</p>
              <p class="optimising-this-important">
                Optimising this important component of a company's marketing and
                online visibility is the main goal of web development. Paying
                for web development services is insufficient on its own. You
                must ensure that the web design firm you're working with in
                India has a solid reputation and has provided services of a high
                calibre. Zoom Digital steps in to help with that! We are the top
                web design company in India that companies rely on to grow to
                their full potential.
              </p>
            </div>
            <button class="component-2-wrapper2" id="frameButton">
              <div class="component-29">
                <div class="component-2-child5"></div>
                <div class="about-us17">contact us</div>
              </div>
            </button>
          </div>
        </div>
      </section>
      <section class="frame-parent15">
        <div class="development-container">
          <div class="development2">development</div>
          <h1 class="premium-web-development">
            Premium web development services for all businesses
          </h1>
          <div class="we-offer-individualised">
            We offer individualised web design services for all types of
            organisations, regardless of size or industry, as a top web
            development company in India. For entrepreneurs, SMEs, blue chip
            companies, and multinational enterprises, we have created custom
            websites and assisted each of these clients in achieving their
            business objectives with top-notch web development solutions. Even
            better, the Zoom Digital team takes the time to comprehend the
            unique requirements of each company in order to offer completely
            individualised web design services for the best outcomes. The
            world-class and enthusiastic website designers who make up our team
            benefit all businesses.
          </div>
          <button class="component-210">
            <div class="component-2-child6" id="rectangle"></div>
            <div class="about-us18">contact us</div>
          </button>
        </div>
        <div class="wrapper-group-4575-wrapper">
          <div class="wrapper-group-45751">
            <img
              class="wrapper-group-4575-item"
              loading="lazy"
              alt=""
              src="./public/group-45751@2x.png"
            />
          </div>
        </div>
      </section>
      <section class="frame-parent16">
        <div class="services-for-all-businesses-parent">
          <div class="services-for-all">services for all businesses</div>
          <h1 class="premium-web-development1">
            Premium web development services for all businesses
          </h1>
          <div class="at-our-social">
            At our Social for Yoou, we know that a website is more than just a
            digital brochure. It is a powerful tool for attracting, engaging,
            and converting your target audience. That’s why we use premium web
            development services for our clients, to create websites that are
            not only beautiful and functional, but also effective and
            profitable. Our premium web development services include custom web
            design, web development, content management system (CMS), e-commerce
            solutions, and web maintenance and support. We create websites that
            are tailored to your brand identity, industry, and goals. We use the
            latest design trends and best practices to ensure your website is
            visually appealing, user-friendly, and responsive across all devices
            and platforms. We also build websites that are fast, secure, and
            reliable. We use the most advanced technologies and frameworks to
            ensure your website is compatible with all browsers and devices, and
            can handle high traffic and complex functionalities. We also
            optimize your website for SEO, performance, and accessibility.
            Moreover, we provide you with a CMS that allows you to easily update
            and manage your website content without any coding skills. You can
            add, edit, or delete pages.
          </div>
        </div>
        <div class="frame-wrapper10">
          <img
            class="frame-child32"
            loading="lazy"
            alt=""
            src="./public/group-4666@2x.png"
          />
        </div>
      </section>
      <section class="footer4">
        <div class="footer-child">
          <div class="frame-parent17">
            <div class="frame-parent18">
              <div class="lets-connect-parent">
                <h1 class="lets-connect4">
                  <p class="lets4">let’s</p>
                  <p class="connect4">connect</p>
                </h1>
                <img
                  class="star-icon4"
                  loading="lazy"
                  alt=""
                  src="./public/star.svg"
                />
              </div>
              <div class="duis-aute-irure-dolor-in-repre-frame">
                <div class="duis-aute-irure-container10">
                  <p class="duis-aute-irure10">
                    Duis aute irure dolor in reprehendeirure dolor irit in volut
                  </p>
                  <p class="ate-velit-esse6">
                    ate velit esse cillum dolDuis aute irure dolor in ore
                  </p>
                </div>
              </div>
              <div class="our-online-media-container">
                <div class="our-online-media4">Our Online Media</div>
                <div class="download-2-group">
                  <img
                    class="download-2-icon4"
                    loading="lazy"
                    alt=""
                    src="./public/download-2@2x.png"
                  />

                  <img
                    class="download-1-14"
                    loading="lazy"
                    alt=""
                    src="./public/download-1-1@2x.png"
                  />

                  <img
                    class="download-2-14"
                    loading="lazy"
                    alt=""
                    src="./public/download-2-1@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="frame-parent19">
              <div class="frame-parent20">
                <div class="colum-group">
                  <div class="colum8">
                    <b class="quick-links4">Quick Links</b>
                    <div class="home44" id="homeText7">Home</div>
                    <div class="services20" id="servicesText1">services</div>
                    <div class="blog9" id="blogText">blog</div>
                    <div class="event4" id="eventText">event</div>
                    <div class="our-products9" id="ourProductsText">
                      our products
                    </div>
                    <div class="contact4" id="contactText">contact</div>
                    <div class="about-us19" id="aboutUsText3">about us</div>
                  </div>
                  <div class="colum9">
                    <b class="links4">Links</b>
                    <div class="help4">Help</div>
                    <div class="support4">support</div>
                    <div class="clients4">clients</div>
                  </div>
                </div>
                <div class="frame-parent21">
                  <div class="newsleller-frame">
                    <h3 class="newsleller4">newsleller</h3>
                  </div>
                  <div class="rectangle-parent17">
                    <div class="frame-child33"></div>
                    <input
                      class="enter-your-email4"
                      placeholder="enter your email"
                      type="text"
                    />
                  </div>
                  <div class="subsrcribe-container">
                    <b class="subsrcribe4">subsrcribe</b>
                  </div>
                </div>
              </div>
              <div class="frame-parent22">
                <div class="our-team-wrapper1" id="frameContainer">
                  <h3 class="our-team4" id="ourTeamText">our team</h3>
                </div>
                <div class="frame-parent23">
                  <button class="rectangle-wrapper1">
                    <img
                      class="frame-child34"
                      alt=""
                      src="./public/data-network@2x.png"
                    />
                  </button>
                  <button class="rectangle-wrapper2">
                    <img
                      class="frame-child35"
                      alt=""
                      src="./public/rectangle-36@2x.png"
                    />
                  </button>
                  <button class="rectangle-wrapper3">
                    <img
                      class="frame-child36"
                      alt=""
                      src="./public/rectangle-37@2x.png"
                    />
                  </button>
                  <div class="frame-wrapper11">
                    <img
                      class="frame-child37"
                      loading="lazy"
                      alt=""
                      src="./public/group-4570@2x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script>
      var homeContainer = document.getElementById("homeContainer");
      if (homeContainer) {
        homeContainer.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesContainer = document.getElementById("servicesContainer");
      if (servicesContainer) {
        servicesContainer.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var eventsContainer = document.getElementById("eventsContainer");
      if (eventsContainer) {
        eventsContainer.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsContainer = document.getElementById("ourProductsContainer");
      if (ourProductsContainer) {
        ourProductsContainer.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var blogContainer = document.getElementById("blogContainer");
      if (blogContainer) {
        blogContainer.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var contactsContainer = document.getElementById("contactsContainer");
      if (contactsContainer) {
        contactsContainer.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var buttonContainer = document.getElementById("buttonContainer");
      if (buttonContainer) {
        buttonContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var arrowAltLeftIcon = document.getElementById("arrowAltLeftIcon");
      if (arrowAltLeftIcon) {
        arrowAltLeftIcon.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var frameButton = document.getElementById("frameButton");
      if (frameButton) {
        frameButton.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var rectangle = document.getElementById("rectangle");
      if (rectangle) {
        rectangle.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var homeText7 = document.getElementById("homeText7");
      if (homeText7) {
        homeText7.addEventListener("click", function (e) {
          window.location.href = "./home.html";
        });
      }
      
      var servicesText1 = document.getElementById("servicesText1");
      if (servicesText1) {
        servicesText1.addEventListener("click", function (e) {
          window.location.href = "services.html";
        });
      }
      
      var blogText = document.getElementById("blogText");
      if (blogText) {
        blogText.addEventListener("click", function (e) {
          window.location.href = "./blog.html";
        });
      }
      
      var eventText = document.getElementById("eventText");
      if (eventText) {
        eventText.addEventListener("click", function (e) {
          window.location.href = "./events.html";
        });
      }
      
      var ourProductsText = document.getElementById("ourProductsText");
      if (ourProductsText) {
        ourProductsText.addEventListener("click", function (e) {
          window.location.href = "./our-product.html";
        });
      }
      
      var contactText = document.getElementById("contactText");
      if (contactText) {
        contactText.addEventListener("click", function (e) {
          window.location.href = "./contact.html";
        });
      }
      
      var aboutUsText3 = document.getElementById("aboutUsText3");
      if (aboutUsText3) {
        aboutUsText3.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var ourTeamText = document.getElementById("ourTeamText");
      if (ourTeamText) {
        ourTeamText.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      
      var frameContainer = document.getElementById("frameContainer");
      if (frameContainer) {
        frameContainer.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      </script>
  </body>
</html>
